* text=auto
*.sh text eol=lf
*.conf text eol=lf
*.tsv text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.ttf binary
*.otf binary
*.ttc binary
*.otc binary
*.zip binary

*.example text eol=lf
