<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>u0558</string>
    <string>u058B</string>
    <string>u058C</string>
    <string>noonring-arab</string>
    <string>pepetcomb-arab</string>
    <string>u09FF</string>
    <string>patternblank-brai</string>
    <string>ligaturejallawaalaa-arab</string>
    <string>ligaturedaamatbarakaatuhum-arab</string>
    <string>ligaturerahmatuallaahitaaalaaalayh-arab</string>
    <string>ligaturerahmatuallaahialayhim-arab</string>
    <string>ligaturerahmatuallaahialayhimaa-arab</string>
    <string>ligaturerahimahumallaahutaaalaa-arab</string>
    <string>ligaturerahimahumaaallaah-arab</string>
    <string>ligaturerahimahumaaallaahutaaalaa-arab</string>
    <string>ligatureradiallaahutaaalaaanhum-arab</string>
    <string>ligaturehafizahuallaah-arab</string>
    <string>ligaturehafizahuallaahutaaalaa-arab</string>
    <string>ligaturehafizahumallaahutaaalaa-arab</string>
    <string>ligaturehafizahumaaallaahutaaalaa-arab</string>
    <string>ligaturesallallaahutaaalaaalayhiwasallam-arab</string>
    <string>ligatureajjalallaahufarajahuashshareef-arab</string>
    <string>ligaturealayhiarrahmah-arab</string>
    <string>ligaturerahmatuallaahialayh-arab</string>
    <string>ligaturerahmatuallaahialayhaa-arab</string>
    <string>ligaturerahimahuallaahtaaalaa-arab</string>
    <string>ligatureradiallaahutaaalaaanh-arab</string>
    <string>ligatureradiallaahutaaalaaanhaa-arab</string>
    <string>ligatureradiallaahutaaalaaanhumaa-arab</string>
    <string>ligaturesallallahualayhiwaalaaaaliheewasallam-arab</string>
    <string>ligatureajjalallaahutaaalaafarajahuashshareef-arab</string>
    <string>ligaturekarramaallaahuwajhah-arab</string>
    <string>daltwodotsverticallybelow-arab</string>
    <string>tahtwodotsverticallybelow-arab</string>
    <string>kaftwodotsverticallybelow-arab</string>
    <string>smallyehbarreetwodotsbelowmod-arab</string>
    <string>thinnoon-arab</string>
    <string>yehfourdotsbelow-arab</string>
    <string>biblicalendofverse-arab</string>
    <string>ligaturealayhaaassalaatuwassalaam-arab</string>
    <string>ligaturealayhimassalaatuwassalaam-arab</string>
    <string>ligaturealayhimaaassalaatuwassalaam-arab</string>
    <string>ligatureqaddasaallaahusirrah-arab</string>
    <string>ligaturequddisasirruhum-arab</string>
    <string>ligaturequddisasirruhumaa-arab</string>
    <string>ligaturequddisatasraaruhum-arab</string>
    <string>ligaturenawwaraallaahumarqadah-arab</string>
    <string>doubleverticalbarbelowcomb-arab</string>
    <string>smalllownooncomb-arab</string>
    <string>alefoverlaycomb-arab</string>
    <string>Arkab-beriaerfe</string>
    <string>Basigna-beriaerfe</string>
    <string>Darbai-beriaerfe</string>
    <string>Eh-beriaerfe</string>
    <string>Fitko-beriaerfe</string>
    <string>Goway-beriaerfe</string>
    <string>Hirdeabo-beriaerfe</string>
    <string>I-beriaerfe</string>
    <string>Djai-beriaerfe</string>
    <string>Kobo-beriaerfe</string>
    <string>Lakko-beriaerfe</string>
    <string>Meri-beriaerfe</string>
    <string>Nini-beriaerfe</string>
    <string>Gna-beriaerfe</string>
    <string>Ngay-beriaerfe</string>
    <string>Oi-beriaerfe</string>
    <string>Pi-beriaerfe</string>
    <string>Erigo-beriaerfe</string>
    <string>Erigotamura-beriaerfe</string>
    <string>Seri-beriaerfe</string>
    <string>Shep-beriaerfe</string>
    <string>Tatasoue-beriaerfe</string>
    <string>Ui-beriaerfe</string>
    <string>Wasse-beriaerfe</string>
    <string>Ay-beriaerfe</string>
    <string>arkab-beriaerfe</string>
    <string>basigna-beriaerfe</string>
    <string>darbai-beriaerfe</string>
    <string>eh-beriaerfe</string>
    <string>fitko-beriaerfe</string>
    <string>goway-beriaerfe</string>
    <string>hirdeabo-beriaerfe</string>
    <string>i-beriaerfe</string>
    <string>djai-beriaerfe</string>
    <string>kobo-beriaerfe</string>
    <string>lakko-beriaerfe</string>
    <string>meri-beriaerfe</string>
    <string>nini-beriaerfe</string>
    <string>gna-beriaerfe</string>
    <string>ngay-beriaerfe</string>
    <string>oi-beriaerfe</string>
    <string>pi-beriaerfe</string>
    <string>erigo-beriaerfe</string>
    <string>erigotamura-beriaerfe</string>
    <string>seri-beriaerfe</string>
    <string>shep-beriaerfe</string>
    <string>tatasoue-beriaerfe</string>
    <string>ui-beriaerfe</string>
    <string>wasse-beriaerfe</string>
    <string>ay-beriaerfe</string>
    <string>u17121</string>
    <string>u17C51</string>
    <string>u17D0B</string>
    <string>u180DF</string>
    <string>u187F8</string>
    <string>u187F9</string>
    <string>u187FA</string>
    <string>u187FB</string>
    <string>u187FC</string>
    <string>u187FD</string>
    <string>u187FE</string>
    <string>u187FF</string>
    <string>u18D09</string>
    <string>u18D0A</string>
    <string>u18D0B</string>
    <string>u18D0C</string>
    <string>u18D0D</string>
    <string>u18D0E</string>
    <string>u18D0F</string>
    <string>u18D10</string>
    <string>u18D11</string>
    <string>u18D12</string>
    <string>u18D13</string>
    <string>u18D14</string>
    <string>u18D15</string>
    <string>u18D16</string>
    <string>u18D17</string>
    <string>u18D18</string>
    <string>u18D19</string>
    <string>u18D1A</string>
    <string>u18D1B</string>
    <string>u18D1C</string>
    <string>u18D1D</string>
    <string>u18D1E</string>
    <string>u18D1E.001</string>
    <string>u18D1F</string>
    <string>u18D20</string>
    <string>component769-tang</string>
    <string>component770-tang</string>
    <string>component771-tang</string>
    <string>component772-tang</string>
    <string>component773-tang</string>
    <string>component774-tang</string>
    <string>component775-tang</string>
    <string>component776-tang</string>
    <string>component777-tang</string>
    <string>component778-tang</string>
    <string>component779-tang</string>
    <string>component780-tang</string>
    <string>component781-tang</string>
    <string>component782-tang</string>
    <string>component783-tang</string>
    <string>component784-tang</string>
    <string>component785-tang</string>
    <string>component786-tang</string>
    <string>component787-tang</string>
    <string>component788-tang</string>
    <string>component789-tang</string>
    <string>component790-tang</string>
    <string>component791-tang</string>
    <string>component792-tang</string>
    <string>component793-tang</string>
    <string>component794-tang</string>
    <string>component795-tang</string>
    <string>component796-tang</string>
    <string>component797-tang</string>
    <string>component798-tang</string>
    <string>component799-tang</string>
    <string>component800-tang</string>
    <string>component801-tang</string>
    <string>component802-tang</string>
    <string>component803-tang</string>
    <string>component804-tang</string>
    <string>component805-tang</string>
    <string>component806-tang</string>
    <string>component807-tang</string>
    <string>component808-tang</string>
    <string>component809-tang</string>
    <string>component810-tang</string>
    <string>component811-tang</string>
    <string>component812-tang</string>
    <string>component813-tang</string>
    <string>component814-tang</string>
    <string>component815-tang</string>
    <string>component816-tang</string>
    <string>component817-tang</string>
    <string>component818-tang</string>
    <string>component819-tang</string>
    <string>component820-tang</string>
    <string>component821-tang</string>
    <string>component822-tang</string>
    <string>component823-tang</string>
    <string>component824-tang</string>
    <string>component825-tang</string>
    <string>component826-tang</string>
    <string>component827-tang</string>
    <string>component828-tang</string>
    <string>component829-tang</string>
    <string>component830-tang</string>
    <string>component831-tang</string>
    <string>component832-tang</string>
    <string>component833-tang</string>
    <string>component834-tang</string>
    <string>component835-tang</string>
    <string>component836-tang</string>
    <string>component837-tang</string>
    <string>component838-tang</string>
    <string>component839-tang</string>
    <string>component840-tang</string>
    <string>component841-tang</string>
    <string>component842-tang</string>
    <string>component843-tang</string>
    <string>component844-tang</string>
    <string>component845-tang</string>
    <string>component846-tang</string>
    <string>component847-tang</string>
    <string>component848-tang</string>
    <string>component849-tang</string>
    <string>component850-tang</string>
    <string>component851-tang</string>
    <string>component852-tang</string>
    <string>component853-tang</string>
    <string>component854-tang</string>
    <string>component855-tang</string>
    <string>component856-tang</string>
    <string>component857-tang</string>
    <string>component858-tang</string>
    <string>component859-tang</string>
    <string>component860-tang</string>
    <string>component861-tang</string>
    <string>component862-tang</string>
    <string>component863-tang</string>
    <string>component864-tang</string>
    <string>component865-tang</string>
    <string>component866-tang</string>
    <string>component867-tang</string>
    <string>component868-tang</string>
    <string>component869-tang</string>
    <string>component870-tang</string>
    <string>component871-tang</string>
    <string>component872-tang</string>
    <string>component873-tang</string>
    <string>component874-tang</string>
    <string>component875-tang</string>
    <string>component876-tang</string>
    <string>component877-tang</string>
    <string>component878-tang</string>
    <string>component879-tang</string>
    <string>component880-tang</string>
    <string>component881-tang</string>
    <string>component882-tang</string>
    <string>component883-tang</string>
    <string>u1D127</string>
    <string>u1D128</string>
    <string>u1D1EB</string>
    <string>u1D1EC</string>
    <string>u1D1ED</string>
    <string>u1D1EE</string>
    <string>u1D1EF</string>
    <string>u1D1F0</string>
    <string>u1D1F1</string>
    <string>u1D1F2</string>
    <string>u1D1F3</string>
    <string>u1D1F4</string>
    <string>u1D1F5</string>
    <string>u1D1F6</string>
    <string>u1D1F7</string>
    <string>u1D1F8</string>
    <string>u1D1F9</string>
    <string>u1D1FA</string>
    <string>u1D1FB</string>
    <string>u1D1FC</string>
    <string>u1D1FD</string>
    <string>u1D1FE</string>
    <string>u1D1FF</string>
    <string>u1DF1F</string>
    <string>u1DF20</string>
    <string>u1DF21</string>
    <string>u1DF22</string>
    <string>u1DF23</string>
    <string>u1DF24</string>
    <string>u1DF2B</string>
    <string>u1DF2C</string>
    <string>u1DF2D</string>
    <string>u1DF2E</string>
    <string>u1DF2F</string>
    <string>u1DF30</string>
    <string>u1DF31</string>
    <string>u1DF32</string>
    <string>u1DF33</string>
    <string>u1DF34</string>
    <string>u1DF35</string>
    <string>u1DF36</string>
    <string>u1DF37</string>
    <string>u1DF38</string>
    <string>u1DF39</string>
    <string>u1DF3A</string>
    <string>lowko-taiyo</string>
    <string>highko-taiyo</string>
    <string>lowkho-taiyo</string>
    <string>highkho-taiyo</string>
    <string>go-taiyo</string>
    <string>ngo-taiyo</string>
    <string>co-taiyo</string>
    <string>lowxo-taiyo</string>
    <string>highxo-taiyo</string>
    <string>lownyo-taiyo</string>
    <string>highnyo-taiyo</string>
    <string>do-taiyo</string>
    <string>lowto-taiyo</string>
    <string>highto-taiyo</string>
    <string>tho-taiyo</string>
    <string>no-taiyo</string>
    <string>bo-taiyo</string>
    <string>lowpo-taiyo</string>
    <string>highpo-taiyo</string>
    <string>pho-taiyo</string>
    <string>lowfo-taiyo</string>
    <string>highfo-taiyo</string>
    <string>mo-taiyo</string>
    <string>yo-taiyo</string>
    <string>lo-taiyo</string>
    <string>vo-taiyo</string>
    <string>lowho-taiyo</string>
    <string>highho-taiyo</string>
    <string>qo-taiyo</string>
    <string>lowkvo-taiyo</string>
    <string>highkvo-taiyo</string>
    <string>u1E6DF</string>
    <string>aa-taiyo</string>
    <string>i-taiyo</string>
    <string>ue-taiyo</string>
    <string>signuecomb-taiyo</string>
    <string>u-taiyo</string>
    <string>ae-taiyo</string>
    <string>signaucomb-taiyo</string>
    <string>o-taiyo</string>
    <string>e-taiyo</string>
    <string>ia-taiyo</string>
    <string>uea-taiyo</string>
    <string>ua-taiyo</string>
    <string>oo-taiyo</string>
    <string>aue-taiyo</string>
    <string>signaycomb-taiyo</string>
    <string>signangcomb-taiyo</string>
    <string>an-taiyo</string>
    <string>am-taiyo</string>
    <string>ak-taiyo</string>
    <string>at-taiyo</string>
    <string>ap-taiyo</string>
    <string>signomcomb-taiyo</string>
    <string>u1E6F6</string>
    <string>u1E6F7</string>
    <string>u1E6F8</string>
    <string>u1E6F9</string>
    <string>u1E6FA</string>
    <string>u1E6FB</string>
    <string>u1E6FC</string>
    <string>u1E6FD</string>
    <string>symbolmueang-taiyo</string>
    <string>xamlaimod-taiyo</string>
  </array>
</dict>
</plist>