<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>u0558</string>
    <string>u058B</string>
    <string>u058C</string>
    <string>noonring-arab</string>
    <string>pepetcomb-arab</string>
    <string>u09FF</string>
    <string>patternblank-brai</string>
    <string>ligaturejallawaalaa-arab</string>
    <string>ligaturedaamatbarakaatuhum-arab</string>
    <string>ligaturerahmatuallaahitaaalaaalayh-arab</string>
    <string>ligaturerahmatuallaahialayhim-arab</string>
    <string>ligaturerahmatuallaahialayhimaa-arab</string>
    <string>ligaturerahimahumallaahutaaalaa-arab</string>
    <string>ligaturerahimahumaaallaah-arab</string>
    <string>ligaturerahimahumaaallaahutaaalaa-arab</string>
    <string>ligatureradiallaahutaaalaaanhum-arab</string>
    <string>ligaturehafizahuallaah-arab</string>
    <string>ligaturehafizahuallaahutaaalaa-arab</string>
    <string>ligaturehafizahumallaahutaaalaa-arab</string>
    <string>ligaturehafizahumaaallaahutaaalaa-arab</string>
    <string>ligaturesallallaahutaaalaaalayhiwasallam-arab</string>
    <string>ligatureajjalallaahufarajahuashshareef-arab</string>
    <string>ligaturealayhiarrahmah-arab</string>
    <string>ligaturerahmatuallaahialayh-arab</string>
    <string>ligaturerahmatuallaahialayhaa-arab</string>
    <string>ligaturerahimahuallaahtaaalaa-arab</string>
    <string>ligatureradiallaahutaaalaaanh-arab</string>
    <string>ligatureradiallaahutaaalaaanhaa-arab</string>
    <string>ligatureradiallaahutaaalaaanhumaa-arab</string>
    <string>ligaturesallallahualayhiwaalaaaaliheewasallam-arab</string>
    <string>ligatureajjalallaahutaaalaafarajahuashshareef-arab</string>
    <string>ligaturekarramaallaahuwajhah-arab</string>
    <string>daltwodotsverticallybelow-arab</string>
    <string>tahtwodotsverticallybelow-arab</string>
    <string>kaftwodotsverticallybelow-arab</string>
    <string>smallyehbarreetwodotsbelowmod-arab</string>
    <string>thinnoon-arab</string>
    <string>yehfourdotsbelow-arab</string>
    <string>biblicalendofverse-arab</string>
    <string>ligaturealayhaaassalaatuwassalaam-arab</string>
    <string>ligaturealayhimassalaatuwassalaam-arab</string>
    <string>ligaturealayhimaaassalaatuwassalaam-arab</string>
    <string>ligatureqaddasaallaahusirrah-arab</string>
    <string>ligaturequddisasirruhum-arab</string>
    <string>ligaturequddisasirruhumaa-arab</string>
    <string>ligaturequddisatasraaruhum-arab</string>
    <string>ligaturenawwaraallaahumarqadah-arab</string>
    <string>doubleverticalbarbelowcomb-arab</string>
    <string>smalllownooncomb-arab</string>
    <string>alefoverlaycomb-arab</string>
    <string>u17121</string>
    <string>u17C51</string>
    <string>u17D0B</string>
    <string>u180DF</string>
    <string>u18761</string>
    <string>u187F8</string>
    <string>u187F9</string>
    <string>u187FA</string>
    <string>u187FB</string>
    <string>u187FC</string>
    <string>u187FD</string>
    <string>u187FE</string>
    <string>u187FF</string>
    <string>u18AAF</string>
    <string>u18D09</string>
    <string>u18D0A</string>
    <string>u18D0B</string>
    <string>u18D0C</string>
    <string>u18D0D</string>
    <string>u18D0E</string>
    <string>u18D0F</string>
    <string>u18D10</string>
    <string>u18D11</string>
    <string>u18D12</string>
    <string>u18D13</string>
    <string>u18D14</string>
    <string>u18D15</string>
    <string>u18D16</string>
    <string>u18D17</string>
    <string>u18D18</string>
    <string>u18D19</string>
    <string>u18D1A</string>
    <string>u18D1B</string>
    <string>u18D1C</string>
    <string>u18D1D</string>
    <string>u18D1E</string>
    <string>u18D1F</string>
    <string>u18D20</string>
    <string>component769-tang</string>
    <string>component770-tang</string>
    <string>component771-tang</string>
    <string>component772-tang</string>
    <string>component773-tang</string>
    <string>component774-tang</string>
    <string>component775-tang</string>
    <string>component776-tang</string>
    <string>component777-tang</string>
    <string>component778-tang</string>
    <string>component779-tang</string>
    <string>component780-tang</string>
    <string>component781-tang</string>
    <string>component782-tang</string>
    <string>component783-tang</string>
    <string>component784-tang</string>
    <string>component785-tang</string>
    <string>component786-tang</string>
    <string>component787-tang</string>
    <string>component788-tang</string>
    <string>component789-tang</string>
    <string>component790-tang</string>
    <string>component791-tang</string>
    <string>component792-tang</string>
    <string>component793-tang</string>
    <string>component794-tang</string>
    <string>component795-tang</string>
    <string>component796-tang</string>
    <string>component797-tang</string>
    <string>component798-tang</string>
    <string>component799-tang</string>
    <string>component800-tang</string>
    <string>component801-tang</string>
    <string>component802-tang</string>
    <string>component803-tang</string>
    <string>component804-tang</string>
    <string>component805-tang</string>
    <string>component806-tang</string>
    <string>component807-tang</string>
    <string>component808-tang</string>
    <string>component809-tang</string>
    <string>component810-tang</string>
    <string>component811-tang</string>
    <string>component812-tang</string>
    <string>component813-tang</string>
    <string>component814-tang</string>
    <string>component815-tang</string>
    <string>component816-tang</string>
    <string>component817-tang</string>
    <string>component818-tang</string>
    <string>component819-tang</string>
    <string>component820-tang</string>
    <string>component821-tang</string>
    <string>component822-tang</string>
    <string>component823-tang</string>
    <string>component824-tang</string>
    <string>component825-tang</string>
    <string>component826-tang</string>
    <string>component827-tang</string>
    <string>component828-tang</string>
    <string>component829-tang</string>
    <string>component830-tang</string>
    <string>component831-tang</string>
    <string>component832-tang</string>
    <string>component833-tang</string>
    <string>component834-tang</string>
    <string>component835-tang</string>
    <string>component836-tang</string>
    <string>component837-tang</string>
    <string>component838-tang</string>
    <string>component839-tang</string>
    <string>component840-tang</string>
    <string>component841-tang</string>
    <string>component842-tang</string>
    <string>component843-tang</string>
    <string>component844-tang</string>
    <string>component845-tang</string>
    <string>component846-tang</string>
    <string>component847-tang</string>
    <string>component848-tang</string>
    <string>component849-tang</string>
    <string>component850-tang</string>
    <string>component851-tang</string>
    <string>component852-tang</string>
    <string>component853-tang</string>
    <string>component854-tang</string>
    <string>component855-tang</string>
    <string>component856-tang</string>
    <string>component857-tang</string>
    <string>component858-tang</string>
    <string>component859-tang</string>
    <string>component860-tang</string>
    <string>component861-tang</string>
    <string>component862-tang</string>
    <string>component863-tang</string>
    <string>component864-tang</string>
    <string>component865-tang</string>
    <string>component866-tang</string>
    <string>component867-tang</string>
    <string>component868-tang</string>
    <string>component869-tang</string>
    <string>component870-tang</string>
    <string>component871-tang</string>
    <string>component872-tang</string>
    <string>component873-tang</string>
    <string>component874-tang</string>
    <string>component875-tang</string>
    <string>component876-tang</string>
    <string>component877-tang</string>
    <string>component878-tang</string>
    <string>component879-tang</string>
    <string>component880-tang</string>
    <string>component881-tang</string>
    <string>component882-tang</string>
    <string>component883-tang</string>
    <string>u1D127</string>
    <string>u1D128</string>
    <string>u1D1EB</string>
    <string>u1D1EC</string>
    <string>u1D1ED</string>
    <string>u1D1EE</string>
    <string>u1D1EF</string>
    <string>u1D1F0</string>
    <string>u1D1F1</string>
    <string>u1D1F2</string>
    <string>u1D1F3</string>
    <string>u1D1F4</string>
    <string>u1D1F5</string>
    <string>u1D1F6</string>
    <string>u1D1F7</string>
    <string>u1D1F8</string>
    <string>u1D1F9</string>
    <string>u1D1FA</string>
    <string>u1D1FB</string>
    <string>u1D1FC</string>
    <string>u1D1FD</string>
    <string>u1D1FE</string>
    <string>u1D1FF</string>
    <string>u1DF1F</string>
    <string>u1DF20</string>
    <string>u1DF21</string>
    <string>u1DF22</string>
    <string>u1DF23</string>
    <string>u1DF24</string>
    <string>u1DF2B</string>
    <string>u1DF2C</string>
    <string>u1DF2D</string>
    <string>u1DF2E</string>
    <string>u1DF2F</string>
    <string>u1DF30</string>
    <string>u1DF31</string>
    <string>u1DF32</string>
    <string>u1DF33</string>
    <string>u1DF34</string>
    <string>u1DF35</string>
    <string>u1DF36</string>
    <string>u1DF37</string>
    <string>u1DF38</string>
    <string>u1DF39</string>
    <string>u1DF3A</string>
    <string>u1DF3B</string>
    <string>u1DF3C</string>
    <string>u1DF3D</string>
    <string>u1DF3E</string>
    <string>u1DF3F</string>
    <string>u1DF40</string>
    <string>u1DF41</string>
    <string>u1DF42</string>
    <string>u1DF43</string>
    <string>u1DF44</string>
    <string>u1DF45</string>
    <string>u1DF46</string>
    <string>u1DF47</string>
    <string>u1DF48</string>
    <string>u1DF49</string>
    <string>u1DF4A</string>
    <string>u1DF4B</string>
    <string>u1DF4C</string>
    <string>u1DF4D</string>
    <string>u1DF4E</string>
    <string>u1DF4F</string>
    <string>u1DF50</string>
    <string>u1DF51</string>
    <string>u1DF52</string>
    <string>u1DF53</string>
    <string>u1DF54</string>
    <string>u1DF55</string>
    <string>u1DF56</string>
    <string>u1DF57</string>
    <string>u1DF58</string>
    <string>u1DF59</string>
    <string>u1DF5A</string>
    <string>u1DF5B</string>
    <string>u1DF5C</string>
    <string>u1DF5D</string>
    <string>u1DF5E</string>
    <string>u1DF5F</string>
    <string>u1DF60</string>
    <string>u1DF61</string>
    <string>u1DF62</string>
    <string>u1DF63</string>
    <string>u1DF64</string>
    <string>u1DF65</string>
    <string>u1DF66</string>
    <string>u1DF67</string>
    <string>u1DF68</string>
    <string>u1DF69</string>
    <string>u1DF6A</string>
    <string>u1DF6B</string>
    <string>u1DF6C</string>
    <string>u1DF6D</string>
    <string>u1DF6E</string>
    <string>u1DF6F</string>
    <string>u1DF70</string>
    <string>u1DF71</string>
    <string>u1DF72</string>
    <string>u1DF73</string>
    <string>u1DF74</string>
    <string>u1DF75</string>
    <string>u1DF76</string>
    <string>u1DF77</string>
    <string>u1DF78</string>
    <string>u1DF79</string>
    <string>u1DF7A</string>
    <string>u1DF7B</string>
    <string>u1DF7C</string>
    <string>u1DF7D</string>
    <string>u1DF7E</string>
    <string>u1DF7F</string>
    <string>u1DF80</string>
    <string>u1DF81</string>
    <string>u1DF90</string>
    <string>u1DF91</string>
    <string>u1DF92</string>
    <string>u1DF93</string>
    <string>u1DF94</string>
    <string>u1DF95</string>
    <string>u1DF96</string>
    <string>u1DFCD</string>
    <string>u1DFCE</string>
    <string>u1DFCF</string>
    <string>u1DFD0</string>
    <string>u1DFD1</string>
    <string>u1DFD2</string>
    <string>u1DFD3</string>
    <string>u1DFD4</string>
    <string>u1DFD5</string>
    <string>u1DFD6</string>
    <string>u1DFD7</string>
    <string>u1DFD8</string>
    <string>u1DFD9</string>
    <string>u1DFDA</string>
    <string>u1DFDB</string>
    <string>u1DFDC</string>
    <string>u1DFDD</string>
    <string>u1DFDE</string>
    <string>u1DFDF</string>
    <string>u1DFE0</string>
    <string>u1DFE1</string>
    <string>u1DFE2</string>
    <string>u1DFE3</string>
    <string>u1DFE4</string>
    <string>u1DFE5</string>
    <string>u1DFE6</string>
    <string>u1DFE7</string>
    <string>u1DFE8</string>
    <string>u1DFE9</string>
    <string>u1DFEA</string>
    <string>u1DFEB</string>
    <string>u1DFEC</string>
    <string>u1DFED</string>
    <string>u1DFEE</string>
    <string>u1DFEF</string>
    <string>u1DFF0</string>
    <string>u1DFF1</string>
    <string>u1DFF2</string>
    <string>u1DFF3</string>
    <string>u1DFF4</string>
    <string>u1DFF5</string>
    <string>u1DFF6</string>
    <string>u1DFF7</string>
    <string>u1DFF8</string>
    <string>u1DFF9</string>
    <string>u1DFFA</string>
    <string>u1DFFB</string>
    <string>u1DFFC</string>
    <string>u1DFFD</string>
    <string>u1DFFE</string>
    <string>u1DFFF</string>
    <string>cjkcompatibilityideograph2f9d6-han</string>
    <string>u18D1E.001</string>
  </array>
</dict>
</plist>