<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>alefoverlaycomb-arab</key>
  <string>alefoverlaycomb-arab.glif</string>
  <key>biblicalendofverse-arab</key>
  <string>biblicalendofverse-arab.glif</string>
  <key>cjkcompatibilityideograph2f9d6-han</key>
  <string>cjkcompatibilityideograph2f9d6-han.glif</string>
  <key>component769-tang</key>
  <string>component769-tang.glif</string>
  <key>component770-tang</key>
  <string>component770-tang.glif</string>
  <key>component771-tang</key>
  <string>component771-tang.glif</string>
  <key>component772-tang</key>
  <string>component772-tang.glif</string>
  <key>component773-tang</key>
  <string>component773-tang.glif</string>
  <key>component774-tang</key>
  <string>component774-tang.glif</string>
  <key>component775-tang</key>
  <string>component775-tang.glif</string>
  <key>component776-tang</key>
  <string>component776-tang.glif</string>
  <key>component777-tang</key>
  <string>component777-tang.glif</string>
  <key>component778-tang</key>
  <string>component778-tang.glif</string>
  <key>component779-tang</key>
  <string>component779-tang.glif</string>
  <key>component780-tang</key>
  <string>component780-tang.glif</string>
  <key>component781-tang</key>
  <string>component781-tang.glif</string>
  <key>component782-tang</key>
  <string>component782-tang.glif</string>
  <key>component783-tang</key>
  <string>component783-tang.glif</string>
  <key>component784-tang</key>
  <string>component784-tang.glif</string>
  <key>component785-tang</key>
  <string>component785-tang.glif</string>
  <key>component786-tang</key>
  <string>component786-tang.glif</string>
  <key>component787-tang</key>
  <string>component787-tang.glif</string>
  <key>component788-tang</key>
  <string>component788-tang.glif</string>
  <key>component789-tang</key>
  <string>component789-tang.glif</string>
  <key>component790-tang</key>
  <string>component790-tang.glif</string>
  <key>component791-tang</key>
  <string>component791-tang.glif</string>
  <key>component792-tang</key>
  <string>component792-tang.glif</string>
  <key>component793-tang</key>
  <string>component793-tang.glif</string>
  <key>component794-tang</key>
  <string>component794-tang.glif</string>
  <key>component795-tang</key>
  <string>component795-tang.glif</string>
  <key>component796-tang</key>
  <string>component796-tang.glif</string>
  <key>component797-tang</key>
  <string>component797-tang.glif</string>
  <key>component798-tang</key>
  <string>component798-tang.glif</string>
  <key>component799-tang</key>
  <string>component799-tang.glif</string>
  <key>component800-tang</key>
  <string>component800-tang.glif</string>
  <key>component801-tang</key>
  <string>component801-tang.glif</string>
  <key>component802-tang</key>
  <string>component802-tang.glif</string>
  <key>component803-tang</key>
  <string>component803-tang.glif</string>
  <key>component804-tang</key>
  <string>component804-tang.glif</string>
  <key>component805-tang</key>
  <string>component805-tang.glif</string>
  <key>component806-tang</key>
  <string>component806-tang.glif</string>
  <key>component807-tang</key>
  <string>component807-tang.glif</string>
  <key>component808-tang</key>
  <string>component808-tang.glif</string>
  <key>component809-tang</key>
  <string>component809-tang.glif</string>
  <key>component810-tang</key>
  <string>component810-tang.glif</string>
  <key>component811-tang</key>
  <string>component811-tang.glif</string>
  <key>component812-tang</key>
  <string>component812-tang.glif</string>
  <key>component813-tang</key>
  <string>component813-tang.glif</string>
  <key>component814-tang</key>
  <string>component814-tang.glif</string>
  <key>component815-tang</key>
  <string>component815-tang.glif</string>
  <key>component816-tang</key>
  <string>component816-tang.glif</string>
  <key>component817-tang</key>
  <string>component817-tang.glif</string>
  <key>component818-tang</key>
  <string>component818-tang.glif</string>
  <key>component819-tang</key>
  <string>component819-tang.glif</string>
  <key>component820-tang</key>
  <string>component820-tang.glif</string>
  <key>component821-tang</key>
  <string>component821-tang.glif</string>
  <key>component822-tang</key>
  <string>component822-tang.glif</string>
  <key>component823-tang</key>
  <string>component823-tang.glif</string>
  <key>component824-tang</key>
  <string>component824-tang.glif</string>
  <key>component825-tang</key>
  <string>component825-tang.glif</string>
  <key>component826-tang</key>
  <string>component826-tang.glif</string>
  <key>component827-tang</key>
  <string>component827-tang.glif</string>
  <key>component828-tang</key>
  <string>component828-tang.glif</string>
  <key>component829-tang</key>
  <string>component829-tang.glif</string>
  <key>component830-tang</key>
  <string>component830-tang.glif</string>
  <key>component831-tang</key>
  <string>component831-tang.glif</string>
  <key>component832-tang</key>
  <string>component832-tang.glif</string>
  <key>component833-tang</key>
  <string>component833-tang.glif</string>
  <key>component834-tang</key>
  <string>component834-tang.glif</string>
  <key>component835-tang</key>
  <string>component835-tang.glif</string>
  <key>component836-tang</key>
  <string>component836-tang.glif</string>
  <key>component837-tang</key>
  <string>component837-tang.glif</string>
  <key>component838-tang</key>
  <string>component838-tang.glif</string>
  <key>component839-tang</key>
  <string>component839-tang.glif</string>
  <key>component840-tang</key>
  <string>component840-tang.glif</string>
  <key>component841-tang</key>
  <string>component841-tang.glif</string>
  <key>component842-tang</key>
  <string>component842-tang.glif</string>
  <key>component843-tang</key>
  <string>component843-tang.glif</string>
  <key>component844-tang</key>
  <string>component844-tang.glif</string>
  <key>component845-tang</key>
  <string>component845-tang.glif</string>
  <key>component846-tang</key>
  <string>component846-tang.glif</string>
  <key>component847-tang</key>
  <string>component847-tang.glif</string>
  <key>component848-tang</key>
  <string>component848-tang.glif</string>
  <key>component849-tang</key>
  <string>component849-tang.glif</string>
  <key>component850-tang</key>
  <string>component850-tang.glif</string>
  <key>component851-tang</key>
  <string>component851-tang.glif</string>
  <key>component852-tang</key>
  <string>component852-tang.glif</string>
  <key>component853-tang</key>
  <string>component853-tang.glif</string>
  <key>component854-tang</key>
  <string>component854-tang.glif</string>
  <key>component855-tang</key>
  <string>component855-tang.glif</string>
  <key>component856-tang</key>
  <string>component856-tang.glif</string>
  <key>component857-tang</key>
  <string>component857-tang.glif</string>
  <key>component858-tang</key>
  <string>component858-tang.glif</string>
  <key>component859-tang</key>
  <string>component859-tang.glif</string>
  <key>component860-tang</key>
  <string>component860-tang.glif</string>
  <key>component861-tang</key>
  <string>component861-tang.glif</string>
  <key>component862-tang</key>
  <string>component862-tang.glif</string>
  <key>component863-tang</key>
  <string>component863-tang.glif</string>
  <key>component864-tang</key>
  <string>component864-tang.glif</string>
  <key>component865-tang</key>
  <string>component865-tang.glif</string>
  <key>component866-tang</key>
  <string>component866-tang.glif</string>
  <key>component867-tang</key>
  <string>component867-tang.glif</string>
  <key>component868-tang</key>
  <string>component868-tang.glif</string>
  <key>component869-tang</key>
  <string>component869-tang.glif</string>
  <key>component870-tang</key>
  <string>component870-tang.glif</string>
  <key>component871-tang</key>
  <string>component871-tang.glif</string>
  <key>component872-tang</key>
  <string>component872-tang.glif</string>
  <key>component873-tang</key>
  <string>component873-tang.glif</string>
  <key>component874-tang</key>
  <string>component874-tang.glif</string>
  <key>component875-tang</key>
  <string>component875-tang.glif</string>
  <key>component876-tang</key>
  <string>component876-tang.glif</string>
  <key>component877-tang</key>
  <string>component877-tang.glif</string>
  <key>component878-tang</key>
  <string>component878-tang.glif</string>
  <key>component879-tang</key>
  <string>component879-tang.glif</string>
  <key>component880-tang</key>
  <string>component880-tang.glif</string>
  <key>component881-tang</key>
  <string>component881-tang.glif</string>
  <key>component882-tang</key>
  <string>component882-tang.glif</string>
  <key>component883-tang</key>
  <string>component883-tang.glif</string>
  <key>daltwodotsverticallybelow-arab</key>
  <string>daltwodotsverticallybelow-arab.glif</string>
  <key>doubleverticalbarbelowcomb-arab</key>
  <string>doubleverticalbarbelowcomb-arab.glif</string>
  <key>kaftwodotsverticallybelow-arab</key>
  <string>kaftwodotsverticallybelow-arab.glif</string>
  <key>ligatureajjalallaahufarajahuashshareef-arab</key>
  <string>ligatureajjalallaahufarajahuashshareef-arab.glif</string>
  <key>ligatureajjalallaahutaaalaafarajahuashshareef-arab</key>
  <string>ligatureajjalallaahutaaalaafarajahuashshareef-arab.glif</string>
  <key>ligaturealayhaaassalaatuwassalaam-arab</key>
  <string>ligaturealayhaaassalaatuwassalaam-arab.glif</string>
  <key>ligaturealayhiarrahmah-arab</key>
  <string>ligaturealayhiarrahmah-arab.glif</string>
  <key>ligaturealayhimaaassalaatuwassalaam-arab</key>
  <string>ligaturealayhimaaassalaatuwassalaam-arab.glif</string>
  <key>ligaturealayhimassalaatuwassalaam-arab</key>
  <string>ligaturealayhimassalaatuwassalaam-arab.glif</string>
  <key>ligaturedaamatbarakaatuhum-arab</key>
  <string>ligaturedaamatbarakaatuhum-arab.glif</string>
  <key>ligaturehafizahuallaah-arab</key>
  <string>ligaturehafizahuallaah-arab.glif</string>
  <key>ligaturehafizahuallaahutaaalaa-arab</key>
  <string>ligaturehafizahuallaahutaaalaa-arab.glif</string>
  <key>ligaturehafizahumaaallaahutaaalaa-arab</key>
  <string>ligaturehafizahumaaallaahutaaalaa-arab.glif</string>
  <key>ligaturehafizahumallaahutaaalaa-arab</key>
  <string>ligaturehafizahumallaahutaaalaa-arab.glif</string>
  <key>ligaturejallawaalaa-arab</key>
  <string>ligaturejallawaalaa-arab.glif</string>
  <key>ligaturekarramaallaahuwajhah-arab</key>
  <string>ligaturekarramaallaahuwajhah-arab.glif</string>
  <key>ligaturenawwaraallaahumarqadah-arab</key>
  <string>ligaturenawwaraallaahumarqadah-arab.glif</string>
  <key>ligatureqaddasaallaahusirrah-arab</key>
  <string>ligatureqaddasaallaahusirrah-arab.glif</string>
  <key>ligaturequddisasirruhum-arab</key>
  <string>ligaturequddisasirruhum-arab.glif</string>
  <key>ligaturequddisasirruhumaa-arab</key>
  <string>ligaturequddisasirruhumaa-arab.glif</string>
  <key>ligaturequddisatasraaruhum-arab</key>
  <string>ligaturequddisatasraaruhum-arab.glif</string>
  <key>ligatureradiallaahutaaalaaanh-arab</key>
  <string>ligatureradiallaahutaaalaaanh-arab.glif</string>
  <key>ligatureradiallaahutaaalaaanhaa-arab</key>
  <string>ligatureradiallaahutaaalaaanhaa-arab.glif</string>
  <key>ligatureradiallaahutaaalaaanhum-arab</key>
  <string>ligatureradiallaahutaaalaaanhum-arab.glif</string>
  <key>ligatureradiallaahutaaalaaanhumaa-arab</key>
  <string>ligatureradiallaahutaaalaaanhumaa-arab.glif</string>
  <key>ligaturerahimahuallaahtaaalaa-arab</key>
  <string>ligaturerahimahuallaahtaaalaa-arab.glif</string>
  <key>ligaturerahimahumaaallaah-arab</key>
  <string>ligaturerahimahumaaallaah-arab.glif</string>
  <key>ligaturerahimahumaaallaahutaaalaa-arab</key>
  <string>ligaturerahimahumaaallaahutaaalaa-arab.glif</string>
  <key>ligaturerahimahumallaahutaaalaa-arab</key>
  <string>ligaturerahimahumallaahutaaalaa-arab.glif</string>
  <key>ligaturerahmatuallaahialayh-arab</key>
  <string>ligaturerahmatuallaahialayh-arab.glif</string>
  <key>ligaturerahmatuallaahialayhaa-arab</key>
  <string>ligaturerahmatuallaahialayhaa-arab.glif</string>
  <key>ligaturerahmatuallaahialayhim-arab</key>
  <string>ligaturerahmatuallaahialayhim-arab.glif</string>
  <key>ligaturerahmatuallaahialayhimaa-arab</key>
  <string>ligaturerahmatuallaahialayhimaa-arab.glif</string>
  <key>ligaturerahmatuallaahitaaalaaalayh-arab</key>
  <string>ligaturerahmatuallaahitaaalaaalayh-arab.glif</string>
  <key>ligaturesallallaahutaaalaaalayhiwasallam-arab</key>
  <string>ligaturesallallaahutaaalaaalayhiwasallam-arab.glif</string>
  <key>ligaturesallallahualayhiwaalaaaaliheewasallam-arab</key>
  <string>ligaturesallallahualayhiwaalaaaaliheewasallam-arab.glif</string>
  <key>noonring-arab</key>
  <string>noonring-arab.glif</string>
  <key>patternblank-brai</key>
  <string>patternblank-brai.glif</string>
  <key>pepetcomb-arab</key>
  <string>pepetcomb-arab.glif</string>
  <key>smalllownooncomb-arab</key>
  <string>smalllownooncomb-arab.glif</string>
  <key>smallyehbarreetwodotsbelowmod-arab</key>
  <string>smallyehbarreetwodotsbelowmod-arab.glif</string>
  <key>tahtwodotsverticallybelow-arab</key>
  <string>tahtwodotsverticallybelow-arab.glif</string>
  <key>thinnoon-arab</key>
  <string>thinnoon-arab.glif</string>
  <key>u0558</key>
  <string>u0558.glif</string>
  <key>u058B</key>
  <string>u058B_.glif</string>
  <key>u058C</key>
  <string>u058C_.glif</string>
  <key>u09FF</key>
  <string>u09F_F_.glif</string>
  <key>u17121</key>
  <string>u17121.glif</string>
  <key>u17C51</key>
  <string>u17C_51.glif</string>
  <key>u17D0B</key>
  <string>u17D_0B_.glif</string>
  <key>u180DF</key>
  <string>u180D_F_.glif</string>
  <key>u18761</key>
  <string>u18761.glif</string>
  <key>u187F8</key>
  <string>u187F_8.glif</string>
  <key>u187F9</key>
  <string>u187F_9.glif</string>
  <key>u187FA</key>
  <string>u187F_A_.glif</string>
  <key>u187FB</key>
  <string>u187F_B_.glif</string>
  <key>u187FC</key>
  <string>u187F_C_.glif</string>
  <key>u187FD</key>
  <string>u187F_D_.glif</string>
  <key>u187FE</key>
  <string>u187F_E_.glif</string>
  <key>u187FF</key>
  <string>u187F_F_.glif</string>
  <key>u18AAF</key>
  <string>u18A_A_F_.glif</string>
  <key>u18D09</key>
  <string>u18D_09.glif</string>
  <key>u18D0A</key>
  <string>u18D_0A_.glif</string>
  <key>u18D0B</key>
  <string>u18D_0B_.glif</string>
  <key>u18D0C</key>
  <string>u18D_0C_.glif</string>
  <key>u18D0D</key>
  <string>u18D_0D_.glif</string>
  <key>u18D0E</key>
  <string>u18D_0E_.glif</string>
  <key>u18D0F</key>
  <string>u18D_0F_.glif</string>
  <key>u18D10</key>
  <string>u18D_10.glif</string>
  <key>u18D11</key>
  <string>u18D_11.glif</string>
  <key>u18D12</key>
  <string>u18D_12.glif</string>
  <key>u18D13</key>
  <string>u18D_13.glif</string>
  <key>u18D14</key>
  <string>u18D_14.glif</string>
  <key>u18D15</key>
  <string>u18D_15.glif</string>
  <key>u18D16</key>
  <string>u18D_16.glif</string>
  <key>u18D17</key>
  <string>u18D_17.glif</string>
  <key>u18D18</key>
  <string>u18D_18.glif</string>
  <key>u18D19</key>
  <string>u18D_19.glif</string>
  <key>u18D1A</key>
  <string>u18D_1A_.glif</string>
  <key>u18D1B</key>
  <string>u18D_1B_.glif</string>
  <key>u18D1C</key>
  <string>u18D_1C_.glif</string>
  <key>u18D1D</key>
  <string>u18D_1D_.glif</string>
  <key>u18D1E</key>
  <string>u18D_1E_.glif</string>
  <key>u18D1E.001</key>
  <string>u18D_1E_.001.glif</string>
  <key>u18D1F</key>
  <string>u18D_1F_.glif</string>
  <key>u18D20</key>
  <string>u18D_20.glif</string>
  <key>u1D127</key>
  <string>u1D_127.glif</string>
  <key>u1D128</key>
  <string>u1D_128.glif</string>
  <key>u1D1EB</key>
  <string>u1D_1E_B_.glif</string>
  <key>u1D1EC</key>
  <string>u1D_1E_C_.glif</string>
  <key>u1D1ED</key>
  <string>u1D_1E_D_.glif</string>
  <key>u1D1EE</key>
  <string>u1D_1E_E_.glif</string>
  <key>u1D1EF</key>
  <string>u1D_1E_F_.glif</string>
  <key>u1D1F0</key>
  <string>u1D_1F_0.glif</string>
  <key>u1D1F1</key>
  <string>u1D_1F_1.glif</string>
  <key>u1D1F2</key>
  <string>u1D_1F_2.glif</string>
  <key>u1D1F3</key>
  <string>u1D_1F_3.glif</string>
  <key>u1D1F4</key>
  <string>u1D_1F_4.glif</string>
  <key>u1D1F5</key>
  <string>u1D_1F_5.glif</string>
  <key>u1D1F6</key>
  <string>u1D_1F_6.glif</string>
  <key>u1D1F7</key>
  <string>u1D_1F_7.glif</string>
  <key>u1D1F8</key>
  <string>u1D_1F_8.glif</string>
  <key>u1D1F9</key>
  <string>u1D_1F_9.glif</string>
  <key>u1D1FA</key>
  <string>u1D_1F_A_.glif</string>
  <key>u1D1FB</key>
  <string>u1D_1F_B_.glif</string>
  <key>u1D1FC</key>
  <string>u1D_1F_C_.glif</string>
  <key>u1D1FD</key>
  <string>u1D_1F_D_.glif</string>
  <key>u1D1FE</key>
  <string>u1D_1F_E_.glif</string>
  <key>u1D1FF</key>
  <string>u1D_1F_F_.glif</string>
  <key>u1DF1F</key>
  <string>u1D_F_1F_.glif</string>
  <key>u1DF20</key>
  <string>u1D_F_20.glif</string>
  <key>u1DF21</key>
  <string>u1D_F_21.glif</string>
  <key>u1DF22</key>
  <string>u1D_F_22.glif</string>
  <key>u1DF23</key>
  <string>u1D_F_23.glif</string>
  <key>u1DF24</key>
  <string>u1D_F_24.glif</string>
  <key>u1DF2B</key>
  <string>u1D_F_2B_.glif</string>
  <key>u1DF2C</key>
  <string>u1D_F_2C_.glif</string>
  <key>u1DF2D</key>
  <string>u1D_F_2D_.glif</string>
  <key>u1DF2E</key>
  <string>u1D_F_2E_.glif</string>
  <key>u1DF2F</key>
  <string>u1D_F_2F_.glif</string>
  <key>u1DF30</key>
  <string>u1D_F_30.glif</string>
  <key>u1DF31</key>
  <string>u1D_F_31.glif</string>
  <key>u1DF32</key>
  <string>u1D_F_32.glif</string>
  <key>u1DF33</key>
  <string>u1D_F_33.glif</string>
  <key>u1DF34</key>
  <string>u1D_F_34.glif</string>
  <key>u1DF35</key>
  <string>u1D_F_35.glif</string>
  <key>u1DF36</key>
  <string>u1D_F_36.glif</string>
  <key>u1DF37</key>
  <string>u1D_F_37.glif</string>
  <key>u1DF38</key>
  <string>u1D_F_38.glif</string>
  <key>u1DF39</key>
  <string>u1D_F_39.glif</string>
  <key>u1DF3A</key>
  <string>u1D_F_3A_.glif</string>
  <key>u1DF3B</key>
  <string>u1D_F_3B_.glif</string>
  <key>u1DF3C</key>
  <string>u1D_F_3C_.glif</string>
  <key>u1DF3D</key>
  <string>u1D_F_3D_.glif</string>
  <key>u1DF3E</key>
  <string>u1D_F_3E_.glif</string>
  <key>u1DF3F</key>
  <string>u1D_F_3F_.glif</string>
  <key>u1DF40</key>
  <string>u1D_F_40.glif</string>
  <key>u1DF41</key>
  <string>u1D_F_41.glif</string>
  <key>u1DF42</key>
  <string>u1D_F_42.glif</string>
  <key>u1DF43</key>
  <string>u1D_F_43.glif</string>
  <key>u1DF44</key>
  <string>u1D_F_44.glif</string>
  <key>u1DF45</key>
  <string>u1D_F_45.glif</string>
  <key>u1DF46</key>
  <string>u1D_F_46.glif</string>
  <key>u1DF47</key>
  <string>u1D_F_47.glif</string>
  <key>u1DF48</key>
  <string>u1D_F_48.glif</string>
  <key>u1DF49</key>
  <string>u1D_F_49.glif</string>
  <key>u1DF4A</key>
  <string>u1D_F_4A_.glif</string>
  <key>u1DF4B</key>
  <string>u1D_F_4B_.glif</string>
  <key>u1DF4C</key>
  <string>u1D_F_4C_.glif</string>
  <key>u1DF4D</key>
  <string>u1D_F_4D_.glif</string>
  <key>u1DF4E</key>
  <string>u1D_F_4E_.glif</string>
  <key>u1DF4F</key>
  <string>u1D_F_4F_.glif</string>
  <key>u1DF50</key>
  <string>u1D_F_50.glif</string>
  <key>u1DF51</key>
  <string>u1D_F_51.glif</string>
  <key>u1DF52</key>
  <string>u1D_F_52.glif</string>
  <key>u1DF53</key>
  <string>u1D_F_53.glif</string>
  <key>u1DF54</key>
  <string>u1D_F_54.glif</string>
  <key>u1DF55</key>
  <string>u1D_F_55.glif</string>
  <key>u1DF56</key>
  <string>u1D_F_56.glif</string>
  <key>u1DF57</key>
  <string>u1D_F_57.glif</string>
  <key>u1DF58</key>
  <string>u1D_F_58.glif</string>
  <key>u1DF59</key>
  <string>u1D_F_59.glif</string>
  <key>u1DF5A</key>
  <string>u1D_F_5A_.glif</string>
  <key>u1DF5B</key>
  <string>u1D_F_5B_.glif</string>
  <key>u1DF5C</key>
  <string>u1D_F_5C_.glif</string>
  <key>u1DF5D</key>
  <string>u1D_F_5D_.glif</string>
  <key>u1DF5E</key>
  <string>u1D_F_5E_.glif</string>
  <key>u1DF5F</key>
  <string>u1D_F_5F_.glif</string>
  <key>u1DF60</key>
  <string>u1D_F_60.glif</string>
  <key>u1DF61</key>
  <string>u1D_F_61.glif</string>
  <key>u1DF62</key>
  <string>u1D_F_62.glif</string>
  <key>u1DF63</key>
  <string>u1D_F_63.glif</string>
  <key>u1DF64</key>
  <string>u1D_F_64.glif</string>
  <key>u1DF65</key>
  <string>u1D_F_65.glif</string>
  <key>u1DF66</key>
  <string>u1D_F_66.glif</string>
  <key>u1DF67</key>
  <string>u1D_F_67.glif</string>
  <key>u1DF68</key>
  <string>u1D_F_68.glif</string>
  <key>u1DF69</key>
  <string>u1D_F_69.glif</string>
  <key>u1DF6A</key>
  <string>u1D_F_6A_.glif</string>
  <key>u1DF6B</key>
  <string>u1D_F_6B_.glif</string>
  <key>u1DF6C</key>
  <string>u1D_F_6C_.glif</string>
  <key>u1DF6D</key>
  <string>u1D_F_6D_.glif</string>
  <key>u1DF6E</key>
  <string>u1D_F_6E_.glif</string>
  <key>u1DF6F</key>
  <string>u1D_F_6F_.glif</string>
  <key>u1DF70</key>
  <string>u1D_F_70.glif</string>
  <key>u1DF71</key>
  <string>u1D_F_71.glif</string>
  <key>u1DF72</key>
  <string>u1D_F_72.glif</string>
  <key>u1DF73</key>
  <string>u1D_F_73.glif</string>
  <key>u1DF74</key>
  <string>u1D_F_74.glif</string>
  <key>u1DF75</key>
  <string>u1D_F_75.glif</string>
  <key>u1DF76</key>
  <string>u1D_F_76.glif</string>
  <key>u1DF77</key>
  <string>u1D_F_77.glif</string>
  <key>u1DF78</key>
  <string>u1D_F_78.glif</string>
  <key>u1DF79</key>
  <string>u1D_F_79.glif</string>
  <key>u1DF7A</key>
  <string>u1D_F_7A_.glif</string>
  <key>u1DF7B</key>
  <string>u1D_F_7B_.glif</string>
  <key>u1DF7C</key>
  <string>u1D_F_7C_.glif</string>
  <key>u1DF7D</key>
  <string>u1D_F_7D_.glif</string>
  <key>u1DF7E</key>
  <string>u1D_F_7E_.glif</string>
  <key>u1DF7F</key>
  <string>u1D_F_7F_.glif</string>
  <key>u1DF80</key>
  <string>u1D_F_80.glif</string>
  <key>u1DF81</key>
  <string>u1D_F_81.glif</string>
  <key>u1DF90</key>
  <string>u1D_F_90.glif</string>
  <key>u1DF91</key>
  <string>u1D_F_91.glif</string>
  <key>u1DF92</key>
  <string>u1D_F_92.glif</string>
  <key>u1DF93</key>
  <string>u1D_F_93.glif</string>
  <key>u1DF94</key>
  <string>u1D_F_94.glif</string>
  <key>u1DF95</key>
  <string>u1D_F_95.glif</string>
  <key>u1DF96</key>
  <string>u1D_F_96.glif</string>
  <key>u1DFCD</key>
  <string>u1D_F_C_D_.glif</string>
  <key>u1DFCE</key>
  <string>u1D_F_C_E_.glif</string>
  <key>u1DFCF</key>
  <string>u1D_F_C_F_.glif</string>
  <key>u1DFD0</key>
  <string>u1D_F_D_0.glif</string>
  <key>u1DFD1</key>
  <string>u1D_F_D_1.glif</string>
  <key>u1DFD2</key>
  <string>u1D_F_D_2.glif</string>
  <key>u1DFD3</key>
  <string>u1D_F_D_3.glif</string>
  <key>u1DFD4</key>
  <string>u1D_F_D_4.glif</string>
  <key>u1DFD5</key>
  <string>u1D_F_D_5.glif</string>
  <key>u1DFD6</key>
  <string>u1D_F_D_6.glif</string>
  <key>u1DFD7</key>
  <string>u1D_F_D_7.glif</string>
  <key>u1DFD8</key>
  <string>u1D_F_D_8.glif</string>
  <key>u1DFD9</key>
  <string>u1D_F_D_9.glif</string>
  <key>u1DFDA</key>
  <string>u1D_F_D_A_.glif</string>
  <key>u1DFDB</key>
  <string>u1D_F_D_B_.glif</string>
  <key>u1DFDC</key>
  <string>u1D_F_D_C_.glif</string>
  <key>u1DFDD</key>
  <string>u1D_F_D_D_.glif</string>
  <key>u1DFDE</key>
  <string>u1D_F_D_E_.glif</string>
  <key>u1DFDF</key>
  <string>u1D_F_D_F_.glif</string>
  <key>u1DFE0</key>
  <string>u1D_F_E_0.glif</string>
  <key>u1DFE1</key>
  <string>u1D_F_E_1.glif</string>
  <key>u1DFE2</key>
  <string>u1D_F_E_2.glif</string>
  <key>u1DFE3</key>
  <string>u1D_F_E_3.glif</string>
  <key>u1DFE4</key>
  <string>u1D_F_E_4.glif</string>
  <key>u1DFE5</key>
  <string>u1D_F_E_5.glif</string>
  <key>u1DFE6</key>
  <string>u1D_F_E_6.glif</string>
  <key>u1DFE7</key>
  <string>u1D_F_E_7.glif</string>
  <key>u1DFE8</key>
  <string>u1D_F_E_8.glif</string>
  <key>u1DFE9</key>
  <string>u1D_F_E_9.glif</string>
  <key>u1DFEA</key>
  <string>u1D_F_E_A_.glif</string>
  <key>u1DFEB</key>
  <string>u1D_F_E_B_.glif</string>
  <key>u1DFEC</key>
  <string>u1D_F_E_C_.glif</string>
  <key>u1DFED</key>
  <string>u1D_F_E_D_.glif</string>
  <key>u1DFEE</key>
  <string>u1D_F_E_E_.glif</string>
  <key>u1DFEF</key>
  <string>u1D_F_E_F_.glif</string>
  <key>u1DFF0</key>
  <string>u1D_F_F_0.glif</string>
  <key>u1DFF1</key>
  <string>u1D_F_F_1.glif</string>
  <key>u1DFF2</key>
  <string>u1D_F_F_2.glif</string>
  <key>u1DFF3</key>
  <string>u1D_F_F_3.glif</string>
  <key>u1DFF4</key>
  <string>u1D_F_F_4.glif</string>
  <key>u1DFF5</key>
  <string>u1D_F_F_5.glif</string>
  <key>u1DFF6</key>
  <string>u1D_F_F_6.glif</string>
  <key>u1DFF7</key>
  <string>u1D_F_F_7.glif</string>
  <key>u1DFF8</key>
  <string>u1D_F_F_8.glif</string>
  <key>u1DFF9</key>
  <string>u1D_F_F_9.glif</string>
  <key>u1DFFA</key>
  <string>u1D_F_F_A_.glif</string>
  <key>u1DFFB</key>
  <string>u1D_F_F_B_.glif</string>
  <key>u1DFFC</key>
  <string>u1D_F_F_C_.glif</string>
  <key>u1DFFD</key>
  <string>u1D_F_F_D_.glif</string>
  <key>u1DFFE</key>
  <string>u1D_F_F_E_.glif</string>
  <key>u1DFFF</key>
  <string>u1D_F_F_F_.glif</string>
  <key>yehfourdotsbelow-arab</key>
  <string>yehfourdotsbelow-arab.glif</string>
</dict>
</plist>