<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>cuneiformnumericsignonen01</key>
  <string>cuneiformnumericsignonen01.glif</string>
  <key>cuneiformnumericsignonen02</key>
  <string>cuneiformnumericsignonen02.glif</string>
  <key>cuneiformnumericsignonen03</key>
  <string>cuneiformnumericsignonen03.glif</string>
  <key>cuneiformnumericsignonen04</key>
  <string>cuneiformnumericsignonen04.glif</string>
  <key>cuneiformnumericsignonen05</key>
  <string>cuneiformnumericsignonen05.glif</string>
  <key>cuneiformnumericsignonen06</key>
  <string>cuneiformnumericsignonen06.glif</string>
  <key>cuneiformnumericsignonen34</key>
  <string>cuneiformnumericsignonen34.glif</string>
  <key>cuneiformnumericsignonen35</key>
  <string>cuneiformnumericsignonen35.glif</string>
  <key>cuneiformnumericsignonen36</key>
  <string>cuneiformnumericsignonen36.glif</string>
  <key>cuneiformnumericsignonen37</key>
  <string>cuneiformnumericsignonen37.glif</string>
  <key>cuneiformnumericsignonen48</key>
  <string>cuneiformnumericsignonen48.glif</string>
  <key>cuneiformnumericsignonen49</key>
  <string>cuneiformnumericsignonen49.glif</string>
  <key>u12550</key>
  <string>u12550.glif</string>
  <key>u12551</key>
  <string>u12551.glif</string>
  <key>u12552</key>
  <string>u12552.glif</string>
  <key>u12553</key>
  <string>u12553.glif</string>
  <key>u12554</key>
  <string>u12554.glif</string>
  <key>u12555</key>
  <string>u12555.glif</string>
  <key>u12556</key>
  <string>u12556.glif</string>
  <key>u12557</key>
  <string>u12557.glif</string>
  <key>u12558</key>
  <string>u12558.glif</string>
  <key>u12559</key>
  <string>u12559.glif</string>
  <key>u1255A</key>
  <string>u1255A_.glif</string>
  <key>u1255B</key>
  <string>u1255B_.glif</string>
  <key>u1255C</key>
  <string>u1255C_.glif</string>
  <key>u1255D</key>
  <string>u1255D_.glif</string>
  <key>u1255E</key>
  <string>u1255E_.glif</string>
  <key>u1255F</key>
  <string>u1255F_.glif</string>
  <key>u12560</key>
  <string>u12560.glif</string>
  <key>u12561</key>
  <string>u12561.glif</string>
  <key>u12562</key>
  <string>u12562.glif</string>
  <key>u12563</key>
  <string>u12563.glif</string>
  <key>u12564</key>
  <string>u12564.glif</string>
  <key>u12565</key>
  <string>u12565.glif</string>
  <key>u12566</key>
  <string>u12566.glif</string>
  <key>u12567</key>
  <string>u12567.glif</string>
  <key>u12568</key>
  <string>u12568.glif</string>
  <key>u12569</key>
  <string>u12569.glif</string>
  <key>u1256A</key>
  <string>u1256A_.glif</string>
  <key>u1256B</key>
  <string>u1256B_.glif</string>
  <key>u1256C</key>
  <string>u1256C_.glif</string>
  <key>u1256D</key>
  <string>u1256D_.glif</string>
  <key>u1256E</key>
  <string>u1256E_.glif</string>
  <key>u1256F</key>
  <string>u1256F_.glif</string>
  <key>u12570</key>
  <string>u12570.glif</string>
  <key>u12571</key>
  <string>u12571.glif</string>
  <key>u12572</key>
  <string>u12572.glif</string>
  <key>u12573</key>
  <string>u12573.glif</string>
  <key>u12574</key>
  <string>u12574.glif</string>
  <key>u12575</key>
  <string>u12575.glif</string>
  <key>u12576</key>
  <string>u12576.glif</string>
  <key>u12577</key>
  <string>u12577.glif</string>
  <key>u12578</key>
  <string>u12578.glif</string>
  <key>u12579</key>
  <string>u12579.glif</string>
  <key>u1257A</key>
  <string>u1257A_.glif</string>
  <key>u1257B</key>
  <string>u1257B_.glif</string>
  <key>u1257C</key>
  <string>u1257C_.glif</string>
  <key>u1257D</key>
  <string>u1257D_.glif</string>
  <key>u1257E</key>
  <string>u1257E_.glif</string>
  <key>u1257F</key>
  <string>u1257F_.glif</string>
  <key>u12580</key>
  <string>u12580.glif</string>
  <key>u12581</key>
  <string>u12581.glif</string>
  <key>u12582</key>
  <string>u12582.glif</string>
  <key>u12583</key>
  <string>u12583.glif</string>
  <key>u12584</key>
  <string>u12584.glif</string>
  <key>u12585</key>
  <string>u12585.glif</string>
  <key>u12586</key>
  <string>u12586.glif</string>
  <key>u12587</key>
  <string>u12587.glif</string>
  <key>u12588</key>
  <string>u12588.glif</string>
  <key>u12589</key>
  <string>u12589.glif</string>
  <key>u1258A</key>
  <string>u1258A_.glif</string>
  <key>u1258B</key>
  <string>u1258B_.glif</string>
  <key>u1258C</key>
  <string>u1258C_.glif</string>
  <key>u1258D</key>
  <string>u1258D_.glif</string>
  <key>u1258E</key>
  <string>u1258E_.glif</string>
  <key>u1258F</key>
  <string>u1258F_.glif</string>
  <key>u12590</key>
  <string>u12590.glif</string>
  <key>u12591</key>
  <string>u12591.glif</string>
  <key>u12592</key>
  <string>u12592.glif</string>
  <key>u12593</key>
  <string>u12593.glif</string>
  <key>u12594</key>
  <string>u12594.glif</string>
  <key>u12595</key>
  <string>u12595.glif</string>
  <key>u12596</key>
  <string>u12596.glif</string>
  <key>u12597</key>
  <string>u12597.glif</string>
  <key>u12598</key>
  <string>u12598.glif</string>
  <key>u12599</key>
  <string>u12599.glif</string>
  <key>u1259A</key>
  <string>u1259A_.glif</string>
  <key>u1259B</key>
  <string>u1259B_.glif</string>
  <key>u1259C</key>
  <string>u1259C_.glif</string>
  <key>u1259D</key>
  <string>u1259D_.glif</string>
  <key>u1259E</key>
  <string>u1259E_.glif</string>
  <key>u1259F</key>
  <string>u1259F_.glif</string>
  <key>u125A0</key>
  <string>u125A_0.glif</string>
  <key>u125A1</key>
  <string>u125A_1.glif</string>
  <key>u125A2</key>
  <string>u125A_2.glif</string>
  <key>u125A3</key>
  <string>u125A_3.glif</string>
  <key>u125A4</key>
  <string>u125A_4.glif</string>
  <key>u125A5</key>
  <string>u125A_5.glif</string>
  <key>u125A6</key>
  <string>u125A_6.glif</string>
  <key>u125A7</key>
  <string>u125A_7.glif</string>
  <key>u125A8</key>
  <string>u125A_8.glif</string>
  <key>u125A9</key>
  <string>u125A_9.glif</string>
  <key>u125AA</key>
  <string>u125A_A_.glif</string>
  <key>u125AB</key>
  <string>u125A_B_.glif</string>
  <key>u125AC</key>
  <string>u125A_C_.glif</string>
  <key>u125AD</key>
  <string>u125A_D_.glif</string>
  <key>u125AE</key>
  <string>u125A_E_.glif</string>
  <key>u125AF</key>
  <string>u125A_F_.glif</string>
  <key>u125B0</key>
  <string>u125B_0.glif</string>
  <key>u125B1</key>
  <string>u125B_1.glif</string>
  <key>u125B2</key>
  <string>u125B_2.glif</string>
  <key>u125B3</key>
  <string>u125B_3.glif</string>
  <key>u125B4</key>
  <string>u125B_4.glif</string>
  <key>u125B5</key>
  <string>u125B_5.glif</string>
  <key>u125B6</key>
  <string>u125B_6.glif</string>
  <key>u125B7</key>
  <string>u125B_7.glif</string>
  <key>u125B8</key>
  <string>u125B_8.glif</string>
  <key>u125B9</key>
  <string>u125B_9.glif</string>
  <key>u125BA</key>
  <string>u125B_A_.glif</string>
  <key>u125BB</key>
  <string>u125B_B_.glif</string>
  <key>u125BC</key>
  <string>u125B_C_.glif</string>
  <key>u125BD</key>
  <string>u125B_D_.glif</string>
  <key>u125BE</key>
  <string>u125B_E_.glif</string>
  <key>u125BF</key>
  <string>u125B_F_.glif</string>
  <key>u125C0</key>
  <string>u125C_0.glif</string>
  <key>u125C1</key>
  <string>u125C_1.glif</string>
  <key>u125C2</key>
  <string>u125C_2.glif</string>
  <key>u125C3</key>
  <string>u125C_3.glif</string>
  <key>u125C4</key>
  <string>u125C_4.glif</string>
  <key>u125C5</key>
  <string>u125C_5.glif</string>
  <key>u125C6</key>
  <string>u125C_6.glif</string>
  <key>u125C7</key>
  <string>u125C_7.glif</string>
  <key>u125C8</key>
  <string>u125C_8.glif</string>
  <key>u125C9</key>
  <string>u125C_9.glif</string>
  <key>u125CA</key>
  <string>u125C_A_.glif</string>
  <key>u125CB</key>
  <string>u125C_B_.glif</string>
  <key>u125CC</key>
  <string>u125C_C_.glif</string>
  <key>u125CD</key>
  <string>u125C_D_.glif</string>
  <key>u125CE</key>
  <string>u125C_E_.glif</string>
  <key>u125CF</key>
  <string>u125C_F_.glif</string>
  <key>u125D0</key>
  <string>u125D_0.glif</string>
  <key>u125D1</key>
  <string>u125D_1.glif</string>
  <key>u125D2</key>
  <string>u125D_2.glif</string>
  <key>u125D3</key>
  <string>u125D_3.glif</string>
  <key>u125D4</key>
  <string>u125D_4.glif</string>
  <key>u125D5</key>
  <string>u125D_5.glif</string>
  <key>u125D6</key>
  <string>u125D_6.glif</string>
  <key>u125D7</key>
  <string>u125D_7.glif</string>
  <key>u125D8</key>
  <string>u125D_8.glif</string>
  <key>u125D9</key>
  <string>u125D_9.glif</string>
  <key>u125DA</key>
  <string>u125D_A_.glif</string>
  <key>u125DB</key>
  <string>u125D_B_.glif</string>
  <key>u125DC</key>
  <string>u125D_C_.glif</string>
  <key>u125DD</key>
  <string>u125D_D_.glif</string>
  <key>u125DE</key>
  <string>u125D_E_.glif</string>
  <key>u125DF</key>
  <string>u125D_F_.glif</string>
  <key>u125E0</key>
  <string>u125E_0.glif</string>
  <key>u125E1</key>
  <string>u125E_1.glif</string>
  <key>u125E2</key>
  <string>u125E_2.glif</string>
  <key>u125E3</key>
  <string>u125E_3.glif</string>
  <key>u125E4</key>
  <string>u125E_4.glif</string>
  <key>u125E5</key>
  <string>u125E_5.glif</string>
  <key>u125E6</key>
  <string>u125E_6.glif</string>
  <key>u125E7</key>
  <string>u125E_7.glif</string>
  <key>u125E8</key>
  <string>u125E_8.glif</string>
  <key>u125E9</key>
  <string>u125E_9.glif</string>
  <key>u125EA</key>
  <string>u125E_A_.glif</string>
  <key>u125EB</key>
  <string>u125E_B_.glif</string>
  <key>u125EC</key>
  <string>u125E_C_.glif</string>
  <key>u125ED</key>
  <string>u125E_D_.glif</string>
  <key>u125EE</key>
  <string>u125E_E_.glif</string>
  <key>u125EF</key>
  <string>u125E_F_.glif</string>
  <key>u125F0</key>
  <string>u125F_0.glif</string>
  <key>u125F1</key>
  <string>u125F_1.glif</string>
  <key>u125F2</key>
  <string>u125F_2.glif</string>
  <key>u125F3</key>
  <string>u125F_3.glif</string>
  <key>u125F4</key>
  <string>u125F_4.glif</string>
  <key>u125F5</key>
  <string>u125F_5.glif</string>
  <key>u125F6</key>
  <string>u125F_6.glif</string>
  <key>u125F7</key>
  <string>u125F_7.glif</string>
  <key>u125F8</key>
  <string>u125F_8.glif</string>
  <key>u125F9</key>
  <string>u125F_9.glif</string>
  <key>u125FA</key>
  <string>u125F_A_.glif</string>
  <key>u125FB</key>
  <string>u125F_B_.glif</string>
  <key>u125FC</key>
  <string>u125F_C_.glif</string>
  <key>u125FD</key>
  <string>u125F_D_.glif</string>
  <key>u125FE</key>
  <string>u125F_E_.glif</string>
  <key>u125FF</key>
  <string>u125F_F_.glif</string>
  <key>u12600</key>
  <string>u12600.glif</string>
  <key>u12601</key>
  <string>u12601.glif</string>
  <key>u12602</key>
  <string>u12602.glif</string>
  <key>u12603</key>
  <string>u12603.glif</string>
  <key>u12604</key>
  <string>u12604.glif</string>
  <key>u12605</key>
  <string>u12605.glif</string>
  <key>u12606</key>
  <string>u12606.glif</string>
  <key>u12607</key>
  <string>u12607.glif</string>
  <key>u12608</key>
  <string>u12608.glif</string>
  <key>u12609</key>
  <string>u12609.glif</string>
  <key>u1260A</key>
  <string>u1260A_.glif</string>
  <key>u1260B</key>
  <string>u1260B_.glif</string>
  <key>u1260C</key>
  <string>u1260C_.glif</string>
  <key>u1260D</key>
  <string>u1260D_.glif</string>
  <key>u1260E</key>
  <string>u1260E_.glif</string>
  <key>u1260F</key>
  <string>u1260F_.glif</string>
  <key>u12610</key>
  <string>u12610.glif</string>
  <key>u12611</key>
  <string>u12611.glif</string>
  <key>u12612</key>
  <string>u12612.glif</string>
  <key>u12613</key>
  <string>u12613.glif</string>
  <key>u12614</key>
  <string>u12614.glif</string>
  <key>u12615</key>
  <string>u12615.glif</string>
  <key>u12616</key>
  <string>u12616.glif</string>
  <key>u12617</key>
  <string>u12617.glif</string>
  <key>u12618</key>
  <string>u12618.glif</string>
  <key>u12619</key>
  <string>u12619.glif</string>
  <key>u1261A</key>
  <string>u1261A_.glif</string>
  <key>u1261B</key>
  <string>u1261B_.glif</string>
  <key>u1261C</key>
  <string>u1261C_.glif</string>
  <key>u1261D</key>
  <string>u1261D_.glif</string>
  <key>u1261E</key>
  <string>u1261E_.glif</string>
  <key>u1261F</key>
  <string>u1261F_.glif</string>
  <key>u12620</key>
  <string>u12620.glif</string>
  <key>u12621</key>
  <string>u12621.glif</string>
  <key>u12622</key>
  <string>u12622.glif</string>
  <key>u12623</key>
  <string>u12623.glif</string>
  <key>u12624</key>
  <string>u12624.glif</string>
  <key>u12625</key>
  <string>u12625.glif</string>
  <key>u12626</key>
  <string>u12626.glif</string>
  <key>u12627</key>
  <string>u12627.glif</string>
  <key>u12628</key>
  <string>u12628.glif</string>
  <key>u12629</key>
  <string>u12629.glif</string>
  <key>u1262A</key>
  <string>u1262A_.glif</string>
  <key>u1262B</key>
  <string>u1262B_.glif</string>
  <key>u1262C</key>
  <string>u1262C_.glif</string>
  <key>u1262D</key>
  <string>u1262D_.glif</string>
  <key>u1262E</key>
  <string>u1262E_.glif</string>
  <key>u1262F</key>
  <string>u1262F_.glif</string>
  <key>u12630</key>
  <string>u12630.glif</string>
  <key>u12631</key>
  <string>u12631.glif</string>
  <key>u12632</key>
  <string>u12632.glif</string>
  <key>u12633</key>
  <string>u12633.glif</string>
  <key>u12634</key>
  <string>u12634.glif</string>
  <key>u12635</key>
  <string>u12635.glif</string>
  <key>u12636</key>
  <string>u12636.glif</string>
  <key>u12637</key>
  <string>u12637.glif</string>
  <key>u12638</key>
  <string>u12638.glif</string>
  <key>u12639</key>
  <string>u12639.glif</string>
  <key>u1263A</key>
  <string>u1263A_.glif</string>
  <key>u1263B</key>
  <string>u1263B_.glif</string>
  <key>u1263C</key>
  <string>u1263C_.glif</string>
  <key>u1263D</key>
  <string>u1263D_.glif</string>
  <key>u1263E</key>
  <string>u1263E_.glif</string>
  <key>u1263F</key>
  <string>u1263F_.glif</string>
  <key>u12640</key>
  <string>u12640.glif</string>
  <key>u12641</key>
  <string>u12641.glif</string>
  <key>u12642</key>
  <string>u12642.glif</string>
  <key>u12643</key>
  <string>u12643.glif</string>
  <key>u12644</key>
  <string>u12644.glif</string>
  <key>u12645</key>
  <string>u12645.glif</string>
  <key>u12646</key>
  <string>u12646.glif</string>
  <key>u12647</key>
  <string>u12647.glif</string>
  <key>u12648</key>
  <string>u12648.glif</string>
  <key>u12649</key>
  <string>u12649.glif</string>
  <key>u1264A</key>
  <string>u1264A_.glif</string>
  <key>u1264B</key>
  <string>u1264B_.glif</string>
  <key>u1264C</key>
  <string>u1264C_.glif</string>
  <key>u1264D</key>
  <string>u1264D_.glif</string>
  <key>u1264E</key>
  <string>u1264E_.glif</string>
  <key>u1264F</key>
  <string>u1264F_.glif</string>
  <key>u12650</key>
  <string>u12650.glif</string>
  <key>u12651</key>
  <string>u12651.glif</string>
  <key>u12652</key>
  <string>u12652.glif</string>
  <key>u12653</key>
  <string>u12653.glif</string>
  <key>u12654</key>
  <string>u12654.glif</string>
  <key>u12655</key>
  <string>u12655.glif</string>
  <key>u12656</key>
  <string>u12656.glif</string>
  <key>u12657</key>
  <string>u12657.glif</string>
  <key>u12658</key>
  <string>u12658.glif</string>
  <key>u12659</key>
  <string>u12659.glif</string>
  <key>u1265A</key>
  <string>u1265A_.glif</string>
  <key>u1265B</key>
  <string>u1265B_.glif</string>
  <key>u1265C</key>
  <string>u1265C_.glif</string>
  <key>u1265D</key>
  <string>u1265D_.glif</string>
  <key>u1265E</key>
  <string>u1265E_.glif</string>
  <key>u1265F</key>
  <string>u1265F_.glif</string>
  <key>u12660</key>
  <string>u12660.glif</string>
  <key>u12661</key>
  <string>u12661.glif</string>
  <key>u12662</key>
  <string>u12662.glif</string>
  <key>u12663</key>
  <string>u12663.glif</string>
  <key>u12664</key>
  <string>u12664.glif</string>
  <key>u12665</key>
  <string>u12665.glif</string>
  <key>u12666</key>
  <string>u12666.glif</string>
  <key>u12667</key>
  <string>u12667.glif</string>
  <key>u12668</key>
  <string>u12668.glif</string>
  <key>u12669</key>
  <string>u12669.glif</string>
  <key>u1266A</key>
  <string>u1266A_.glif</string>
  <key>u1266B</key>
  <string>u1266B_.glif</string>
  <key>u1266C</key>
  <string>u1266C_.glif</string>
  <key>u1266D</key>
  <string>u1266D_.glif</string>
  <key>u1266E</key>
  <string>u1266E_.glif</string>
  <key>u1266F</key>
  <string>u1266F_.glif</string>
  <key>u12670</key>
  <string>u12670.glif</string>
  <key>u12671</key>
  <string>u12671.glif</string>
  <key>u12672</key>
  <string>u12672.glif</string>
  <key>u12673</key>
  <string>u12673.glif</string>
  <key>u12674</key>
  <string>u12674.glif</string>
  <key>u12675</key>
  <string>u12675.glif</string>
  <key>u12676</key>
  <string>u12676.glif</string>
  <key>u12677</key>
  <string>u12677.glif</string>
  <key>u12678</key>
  <string>u12678.glif</string>
  <key>u12679</key>
  <string>u12679.glif</string>
  <key>u1267A</key>
  <string>u1267A_.glif</string>
  <key>u1267B</key>
  <string>u1267B_.glif</string>
  <key>u1267C</key>
  <string>u1267C_.glif</string>
  <key>u1267D</key>
  <string>u1267D_.glif</string>
  <key>u1267E</key>
  <string>u1267E_.glif</string>
  <key>u1267F</key>
  <string>u1267F_.glif</string>
  <key>u12680</key>
  <string>u12680.glif</string>
  <key>u12681</key>
  <string>u12681.glif</string>
  <key>u12682</key>
  <string>u12682.glif</string>
  <key>u12683</key>
  <string>u12683.glif</string>
  <key>u12684</key>
  <string>u12684.glif</string>
  <key>u12685</key>
  <string>u12685.glif</string>
  <key>u12686</key>
  <string>u12686.glif</string>
</dict>
</plist>