<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>Arkab-beriaerfe</key>
  <string>A_rkab-beriaerfe.glif</string>
  <key>Ay-beriaerfe</key>
  <string>A_y-beriaerfe.glif</string>
  <key>Basigna-beriaerfe</key>
  <string>B_asigna-beriaerfe.glif</string>
  <key>Darbai-beriaerfe</key>
  <string>D_arbai-beriaerfe.glif</string>
  <key>Djai-beriaerfe</key>
  <string>D_jai-beriaerfe.glif</string>
  <key>Eh-beriaerfe</key>
  <string>E_h-beriaerfe.glif</string>
  <key>Erigo-beriaerfe</key>
  <string>E_rigo-beriaerfe.glif</string>
  <key>Erigotamura-beriaerfe</key>
  <string>E_rigotamura-beriaerfe.glif</string>
  <key>Fitko-beriaerfe</key>
  <string>F_itko-beriaerfe.glif</string>
  <key>Gna-beriaerfe</key>
  <string>G_na-beriaerfe.glif</string>
  <key>Goway-beriaerfe</key>
  <string>G_oway-beriaerfe.glif</string>
  <key>Hirdeabo-beriaerfe</key>
  <string>H_irdeabo-beriaerfe.glif</string>
  <key>I-beriaerfe</key>
  <string>I_-beriaerfe.glif</string>
  <key>Kobo-beriaerfe</key>
  <string>K_obo-beriaerfe.glif</string>
  <key>Lakko-beriaerfe</key>
  <string>L_akko-beriaerfe.glif</string>
  <key>Meri-beriaerfe</key>
  <string>M_eri-beriaerfe.glif</string>
  <key>Ngay-beriaerfe</key>
  <string>N_gay-beriaerfe.glif</string>
  <key>Nini-beriaerfe</key>
  <string>N_ini-beriaerfe.glif</string>
  <key>Oi-beriaerfe</key>
  <string>O_i-beriaerfe.glif</string>
  <key>Pi-beriaerfe</key>
  <string>P_i-beriaerfe.glif</string>
  <key>Seri-beriaerfe</key>
  <string>S_eri-beriaerfe.glif</string>
  <key>Shep-beriaerfe</key>
  <string>S_hep-beriaerfe.glif</string>
  <key>Tatasoue-beriaerfe</key>
  <string>T_atasoue-beriaerfe.glif</string>
  <key>Ui-beriaerfe</key>
  <string>U_i-beriaerfe.glif</string>
  <key>Wasse-beriaerfe</key>
  <string>W_asse-beriaerfe.glif</string>
  <key>aa-taiyo</key>
  <string>aa-taiyo.glif</string>
  <key>ae-taiyo</key>
  <string>ae-taiyo.glif</string>
  <key>ak-taiyo</key>
  <string>ak-taiyo.glif</string>
  <key>alefoverlaycomb-arab</key>
  <string>alefoverlaycomb-arab.glif</string>
  <key>am-taiyo</key>
  <string>am-taiyo.glif</string>
  <key>an-taiyo</key>
  <string>an-taiyo.glif</string>
  <key>ap-taiyo</key>
  <string>ap-taiyo.glif</string>
  <key>arkab-beriaerfe</key>
  <string>arkab-beriaerfe.glif</string>
  <key>at-taiyo</key>
  <string>at-taiyo.glif</string>
  <key>aue-taiyo</key>
  <string>aue-taiyo.glif</string>
  <key>ay-beriaerfe</key>
  <string>ay-beriaerfe.glif</string>
  <key>basigna-beriaerfe</key>
  <string>basigna-beriaerfe.glif</string>
  <key>biblicalendofverse-arab</key>
  <string>biblicalendofverse-arab.glif</string>
  <key>bo-taiyo</key>
  <string>bo-taiyo.glif</string>
  <key>co-taiyo</key>
  <string>co-taiyo.glif</string>
  <key>component769-tang</key>
  <string>component769-tang.glif</string>
  <key>component770-tang</key>
  <string>component770-tang.glif</string>
  <key>component771-tang</key>
  <string>component771-tang.glif</string>
  <key>component772-tang</key>
  <string>component772-tang.glif</string>
  <key>component773-tang</key>
  <string>component773-tang.glif</string>
  <key>component774-tang</key>
  <string>component774-tang.glif</string>
  <key>component775-tang</key>
  <string>component775-tang.glif</string>
  <key>component776-tang</key>
  <string>component776-tang.glif</string>
  <key>component777-tang</key>
  <string>component777-tang.glif</string>
  <key>component778-tang</key>
  <string>component778-tang.glif</string>
  <key>component779-tang</key>
  <string>component779-tang.glif</string>
  <key>component780-tang</key>
  <string>component780-tang.glif</string>
  <key>component781-tang</key>
  <string>component781-tang.glif</string>
  <key>component782-tang</key>
  <string>component782-tang.glif</string>
  <key>component783-tang</key>
  <string>component783-tang.glif</string>
  <key>component784-tang</key>
  <string>component784-tang.glif</string>
  <key>component785-tang</key>
  <string>component785-tang.glif</string>
  <key>component786-tang</key>
  <string>component786-tang.glif</string>
  <key>component787-tang</key>
  <string>component787-tang.glif</string>
  <key>component788-tang</key>
  <string>component788-tang.glif</string>
  <key>component789-tang</key>
  <string>component789-tang.glif</string>
  <key>component790-tang</key>
  <string>component790-tang.glif</string>
  <key>component791-tang</key>
  <string>component791-tang.glif</string>
  <key>component792-tang</key>
  <string>component792-tang.glif</string>
  <key>component793-tang</key>
  <string>component793-tang.glif</string>
  <key>component794-tang</key>
  <string>component794-tang.glif</string>
  <key>component795-tang</key>
  <string>component795-tang.glif</string>
  <key>component796-tang</key>
  <string>component796-tang.glif</string>
  <key>component797-tang</key>
  <string>component797-tang.glif</string>
  <key>component798-tang</key>
  <string>component798-tang.glif</string>
  <key>component799-tang</key>
  <string>component799-tang.glif</string>
  <key>component800-tang</key>
  <string>component800-tang.glif</string>
  <key>component801-tang</key>
  <string>component801-tang.glif</string>
  <key>component802-tang</key>
  <string>component802-tang.glif</string>
  <key>component803-tang</key>
  <string>component803-tang.glif</string>
  <key>component804-tang</key>
  <string>component804-tang.glif</string>
  <key>component805-tang</key>
  <string>component805-tang.glif</string>
  <key>component806-tang</key>
  <string>component806-tang.glif</string>
  <key>component807-tang</key>
  <string>component807-tang.glif</string>
  <key>component808-tang</key>
  <string>component808-tang.glif</string>
  <key>component809-tang</key>
  <string>component809-tang.glif</string>
  <key>component810-tang</key>
  <string>component810-tang.glif</string>
  <key>component811-tang</key>
  <string>component811-tang.glif</string>
  <key>component812-tang</key>
  <string>component812-tang.glif</string>
  <key>component813-tang</key>
  <string>component813-tang.glif</string>
  <key>component814-tang</key>
  <string>component814-tang.glif</string>
  <key>component815-tang</key>
  <string>component815-tang.glif</string>
  <key>component816-tang</key>
  <string>component816-tang.glif</string>
  <key>component817-tang</key>
  <string>component817-tang.glif</string>
  <key>component818-tang</key>
  <string>component818-tang.glif</string>
  <key>component819-tang</key>
  <string>component819-tang.glif</string>
  <key>component820-tang</key>
  <string>component820-tang.glif</string>
  <key>component821-tang</key>
  <string>component821-tang.glif</string>
  <key>component822-tang</key>
  <string>component822-tang.glif</string>
  <key>component823-tang</key>
  <string>component823-tang.glif</string>
  <key>component824-tang</key>
  <string>component824-tang.glif</string>
  <key>component825-tang</key>
  <string>component825-tang.glif</string>
  <key>component826-tang</key>
  <string>component826-tang.glif</string>
  <key>component827-tang</key>
  <string>component827-tang.glif</string>
  <key>component828-tang</key>
  <string>component828-tang.glif</string>
  <key>component829-tang</key>
  <string>component829-tang.glif</string>
  <key>component830-tang</key>
  <string>component830-tang.glif</string>
  <key>component831-tang</key>
  <string>component831-tang.glif</string>
  <key>component832-tang</key>
  <string>component832-tang.glif</string>
  <key>component833-tang</key>
  <string>component833-tang.glif</string>
  <key>component834-tang</key>
  <string>component834-tang.glif</string>
  <key>component835-tang</key>
  <string>component835-tang.glif</string>
  <key>component836-tang</key>
  <string>component836-tang.glif</string>
  <key>component837-tang</key>
  <string>component837-tang.glif</string>
  <key>component838-tang</key>
  <string>component838-tang.glif</string>
  <key>component839-tang</key>
  <string>component839-tang.glif</string>
  <key>component840-tang</key>
  <string>component840-tang.glif</string>
  <key>component841-tang</key>
  <string>component841-tang.glif</string>
  <key>component842-tang</key>
  <string>component842-tang.glif</string>
  <key>component843-tang</key>
  <string>component843-tang.glif</string>
  <key>component844-tang</key>
  <string>component844-tang.glif</string>
  <key>component845-tang</key>
  <string>component845-tang.glif</string>
  <key>component846-tang</key>
  <string>component846-tang.glif</string>
  <key>component847-tang</key>
  <string>component847-tang.glif</string>
  <key>component848-tang</key>
  <string>component848-tang.glif</string>
  <key>component849-tang</key>
  <string>component849-tang.glif</string>
  <key>component850-tang</key>
  <string>component850-tang.glif</string>
  <key>component851-tang</key>
  <string>component851-tang.glif</string>
  <key>component852-tang</key>
  <string>component852-tang.glif</string>
  <key>component853-tang</key>
  <string>component853-tang.glif</string>
  <key>component854-tang</key>
  <string>component854-tang.glif</string>
  <key>component855-tang</key>
  <string>component855-tang.glif</string>
  <key>component856-tang</key>
  <string>component856-tang.glif</string>
  <key>component857-tang</key>
  <string>component857-tang.glif</string>
  <key>component858-tang</key>
  <string>component858-tang.glif</string>
  <key>component859-tang</key>
  <string>component859-tang.glif</string>
  <key>component860-tang</key>
  <string>component860-tang.glif</string>
  <key>component861-tang</key>
  <string>component861-tang.glif</string>
  <key>component862-tang</key>
  <string>component862-tang.glif</string>
  <key>component863-tang</key>
  <string>component863-tang.glif</string>
  <key>component864-tang</key>
  <string>component864-tang.glif</string>
  <key>component865-tang</key>
  <string>component865-tang.glif</string>
  <key>component866-tang</key>
  <string>component866-tang.glif</string>
  <key>component867-tang</key>
  <string>component867-tang.glif</string>
  <key>component868-tang</key>
  <string>component868-tang.glif</string>
  <key>component869-tang</key>
  <string>component869-tang.glif</string>
  <key>component870-tang</key>
  <string>component870-tang.glif</string>
  <key>component871-tang</key>
  <string>component871-tang.glif</string>
  <key>component872-tang</key>
  <string>component872-tang.glif</string>
  <key>component873-tang</key>
  <string>component873-tang.glif</string>
  <key>component874-tang</key>
  <string>component874-tang.glif</string>
  <key>component875-tang</key>
  <string>component875-tang.glif</string>
  <key>component876-tang</key>
  <string>component876-tang.glif</string>
  <key>component877-tang</key>
  <string>component877-tang.glif</string>
  <key>component878-tang</key>
  <string>component878-tang.glif</string>
  <key>component879-tang</key>
  <string>component879-tang.glif</string>
  <key>component880-tang</key>
  <string>component880-tang.glif</string>
  <key>component881-tang</key>
  <string>component881-tang.glif</string>
  <key>component882-tang</key>
  <string>component882-tang.glif</string>
  <key>component883-tang</key>
  <string>component883-tang.glif</string>
  <key>daltwodotsverticallybelow-arab</key>
  <string>daltwodotsverticallybelow-arab.glif</string>
  <key>darbai-beriaerfe</key>
  <string>darbai-beriaerfe.glif</string>
  <key>djai-beriaerfe</key>
  <string>djai-beriaerfe.glif</string>
  <key>do-taiyo</key>
  <string>do-taiyo.glif</string>
  <key>doubleverticalbarbelowcomb-arab</key>
  <string>doubleverticalbarbelowcomb-arab.glif</string>
  <key>e-taiyo</key>
  <string>e-taiyo.glif</string>
  <key>eh-beriaerfe</key>
  <string>eh-beriaerfe.glif</string>
  <key>erigo-beriaerfe</key>
  <string>erigo-beriaerfe.glif</string>
  <key>erigotamura-beriaerfe</key>
  <string>erigotamura-beriaerfe.glif</string>
  <key>fitko-beriaerfe</key>
  <string>fitko-beriaerfe.glif</string>
  <key>gna-beriaerfe</key>
  <string>gna-beriaerfe.glif</string>
  <key>go-taiyo</key>
  <string>go-taiyo.glif</string>
  <key>goway-beriaerfe</key>
  <string>goway-beriaerfe.glif</string>
  <key>highfo-taiyo</key>
  <string>highfo-taiyo.glif</string>
  <key>highho-taiyo</key>
  <string>highho-taiyo.glif</string>
  <key>highkho-taiyo</key>
  <string>highkho-taiyo.glif</string>
  <key>highko-taiyo</key>
  <string>highko-taiyo.glif</string>
  <key>highkvo-taiyo</key>
  <string>highkvo-taiyo.glif</string>
  <key>highnyo-taiyo</key>
  <string>highnyo-taiyo.glif</string>
  <key>highpo-taiyo</key>
  <string>highpo-taiyo.glif</string>
  <key>highto-taiyo</key>
  <string>highto-taiyo.glif</string>
  <key>highxo-taiyo</key>
  <string>highxo-taiyo.glif</string>
  <key>hirdeabo-beriaerfe</key>
  <string>hirdeabo-beriaerfe.glif</string>
  <key>i-beriaerfe</key>
  <string>i-beriaerfe.glif</string>
  <key>i-taiyo</key>
  <string>i-taiyo.glif</string>
  <key>ia-taiyo</key>
  <string>ia-taiyo.glif</string>
  <key>kaftwodotsverticallybelow-arab</key>
  <string>kaftwodotsverticallybelow-arab.glif</string>
  <key>kobo-beriaerfe</key>
  <string>kobo-beriaerfe.glif</string>
  <key>lakko-beriaerfe</key>
  <string>lakko-beriaerfe.glif</string>
  <key>ligatureajjalallaahufarajahuashshareef-arab</key>
  <string>ligatureajjalallaahufarajahuashshareef-arab.glif</string>
  <key>ligatureajjalallaahutaaalaafarajahuashshareef-arab</key>
  <string>ligatureajjalallaahutaaalaafarajahuashshareef-arab.glif</string>
  <key>ligaturealayhaaassalaatuwassalaam-arab</key>
  <string>ligaturealayhaaassalaatuwassalaam-arab.glif</string>
  <key>ligaturealayhiarrahmah-arab</key>
  <string>ligaturealayhiarrahmah-arab.glif</string>
  <key>ligaturealayhimaaassalaatuwassalaam-arab</key>
  <string>ligaturealayhimaaassalaatuwassalaam-arab.glif</string>
  <key>ligaturealayhimassalaatuwassalaam-arab</key>
  <string>ligaturealayhimassalaatuwassalaam-arab.glif</string>
  <key>ligaturedaamatbarakaatuhum-arab</key>
  <string>ligaturedaamatbarakaatuhum-arab.glif</string>
  <key>ligaturehafizahuallaah-arab</key>
  <string>ligaturehafizahuallaah-arab.glif</string>
  <key>ligaturehafizahuallaahutaaalaa-arab</key>
  <string>ligaturehafizahuallaahutaaalaa-arab.glif</string>
  <key>ligaturehafizahumaaallaahutaaalaa-arab</key>
  <string>ligaturehafizahumaaallaahutaaalaa-arab.glif</string>
  <key>ligaturehafizahumallaahutaaalaa-arab</key>
  <string>ligaturehafizahumallaahutaaalaa-arab.glif</string>
  <key>ligaturejallawaalaa-arab</key>
  <string>ligaturejallawaalaa-arab.glif</string>
  <key>ligaturekarramaallaahuwajhah-arab</key>
  <string>ligaturekarramaallaahuwajhah-arab.glif</string>
  <key>ligaturenawwaraallaahumarqadah-arab</key>
  <string>ligaturenawwaraallaahumarqadah-arab.glif</string>
  <key>ligatureqaddasaallaahusirrah-arab</key>
  <string>ligatureqaddasaallaahusirrah-arab.glif</string>
  <key>ligaturequddisasirruhum-arab</key>
  <string>ligaturequddisasirruhum-arab.glif</string>
  <key>ligaturequddisasirruhumaa-arab</key>
  <string>ligaturequddisasirruhumaa-arab.glif</string>
  <key>ligaturequddisatasraaruhum-arab</key>
  <string>ligaturequddisatasraaruhum-arab.glif</string>
  <key>ligatureradiallaahutaaalaaanh-arab</key>
  <string>ligatureradiallaahutaaalaaanh-arab.glif</string>
  <key>ligatureradiallaahutaaalaaanhaa-arab</key>
  <string>ligatureradiallaahutaaalaaanhaa-arab.glif</string>
  <key>ligatureradiallaahutaaalaaanhum-arab</key>
  <string>ligatureradiallaahutaaalaaanhum-arab.glif</string>
  <key>ligatureradiallaahutaaalaaanhumaa-arab</key>
  <string>ligatureradiallaahutaaalaaanhumaa-arab.glif</string>
  <key>ligaturerahimahuallaahtaaalaa-arab</key>
  <string>ligaturerahimahuallaahtaaalaa-arab.glif</string>
  <key>ligaturerahimahumaaallaah-arab</key>
  <string>ligaturerahimahumaaallaah-arab.glif</string>
  <key>ligaturerahimahumaaallaahutaaalaa-arab</key>
  <string>ligaturerahimahumaaallaahutaaalaa-arab.glif</string>
  <key>ligaturerahimahumallaahutaaalaa-arab</key>
  <string>ligaturerahimahumallaahutaaalaa-arab.glif</string>
  <key>ligaturerahmatuallaahialayh-arab</key>
  <string>ligaturerahmatuallaahialayh-arab.glif</string>
  <key>ligaturerahmatuallaahialayhaa-arab</key>
  <string>ligaturerahmatuallaahialayhaa-arab.glif</string>
  <key>ligaturerahmatuallaahialayhim-arab</key>
  <string>ligaturerahmatuallaahialayhim-arab.glif</string>
  <key>ligaturerahmatuallaahialayhimaa-arab</key>
  <string>ligaturerahmatuallaahialayhimaa-arab.glif</string>
  <key>ligaturerahmatuallaahitaaalaaalayh-arab</key>
  <string>ligaturerahmatuallaahitaaalaaalayh-arab.glif</string>
  <key>ligaturesallallaahutaaalaaalayhiwasallam-arab</key>
  <string>ligaturesallallaahutaaalaaalayhiwasallam-arab.glif</string>
  <key>ligaturesallallahualayhiwaalaaaaliheewasallam-arab</key>
  <string>ligaturesallallahualayhiwaalaaaaliheewasallam-arab.glif</string>
  <key>lo-taiyo</key>
  <string>lo-taiyo.glif</string>
  <key>lowfo-taiyo</key>
  <string>lowfo-taiyo.glif</string>
  <key>lowho-taiyo</key>
  <string>lowho-taiyo.glif</string>
  <key>lowkho-taiyo</key>
  <string>lowkho-taiyo.glif</string>
  <key>lowko-taiyo</key>
  <string>lowko-taiyo.glif</string>
  <key>lowkvo-taiyo</key>
  <string>lowkvo-taiyo.glif</string>
  <key>lownyo-taiyo</key>
  <string>lownyo-taiyo.glif</string>
  <key>lowpo-taiyo</key>
  <string>lowpo-taiyo.glif</string>
  <key>lowto-taiyo</key>
  <string>lowto-taiyo.glif</string>
  <key>lowxo-taiyo</key>
  <string>lowxo-taiyo.glif</string>
  <key>meri-beriaerfe</key>
  <string>meri-beriaerfe.glif</string>
  <key>mo-taiyo</key>
  <string>mo-taiyo.glif</string>
  <key>ngay-beriaerfe</key>
  <string>ngay-beriaerfe.glif</string>
  <key>ngo-taiyo</key>
  <string>ngo-taiyo.glif</string>
  <key>nini-beriaerfe</key>
  <string>nini-beriaerfe.glif</string>
  <key>no-taiyo</key>
  <string>no-taiyo.glif</string>
  <key>noonring-arab</key>
  <string>noonring-arab.glif</string>
  <key>o-taiyo</key>
  <string>o-taiyo.glif</string>
  <key>oi-beriaerfe</key>
  <string>oi-beriaerfe.glif</string>
  <key>oo-taiyo</key>
  <string>oo-taiyo.glif</string>
  <key>patternblank-brai</key>
  <string>patternblank-brai.glif</string>
  <key>pepetcomb-arab</key>
  <string>pepetcomb-arab.glif</string>
  <key>pho-taiyo</key>
  <string>pho-taiyo.glif</string>
  <key>pi-beriaerfe</key>
  <string>pi-beriaerfe.glif</string>
  <key>qo-taiyo</key>
  <string>qo-taiyo.glif</string>
  <key>seri-beriaerfe</key>
  <string>seri-beriaerfe.glif</string>
  <key>shep-beriaerfe</key>
  <string>shep-beriaerfe.glif</string>
  <key>signangcomb-taiyo</key>
  <string>signangcomb-taiyo.glif</string>
  <key>signaucomb-taiyo</key>
  <string>signaucomb-taiyo.glif</string>
  <key>signaycomb-taiyo</key>
  <string>signaycomb-taiyo.glif</string>
  <key>signomcomb-taiyo</key>
  <string>signomcomb-taiyo.glif</string>
  <key>signuecomb-taiyo</key>
  <string>signuecomb-taiyo.glif</string>
  <key>smalllownooncomb-arab</key>
  <string>smalllownooncomb-arab.glif</string>
  <key>smallyehbarreetwodotsbelowmod-arab</key>
  <string>smallyehbarreetwodotsbelowmod-arab.glif</string>
  <key>symbolmueang-taiyo</key>
  <string>symbolmueang-taiyo.glif</string>
  <key>tahtwodotsverticallybelow-arab</key>
  <string>tahtwodotsverticallybelow-arab.glif</string>
  <key>tatasoue-beriaerfe</key>
  <string>tatasoue-beriaerfe.glif</string>
  <key>thinnoon-arab</key>
  <string>thinnoon-arab.glif</string>
  <key>tho-taiyo</key>
  <string>tho-taiyo.glif</string>
  <key>u-taiyo</key>
  <string>u-taiyo.glif</string>
  <key>u0558</key>
  <string>u0558.glif</string>
  <key>u058B</key>
  <string>u058B_.glif</string>
  <key>u058C</key>
  <string>u058C_.glif</string>
  <key>u09FF</key>
  <string>u09F_F_.glif</string>
  <key>u17121</key>
  <string>u17121.glif</string>
  <key>u17C51</key>
  <string>u17C_51.glif</string>
  <key>u17D0B</key>
  <string>u17D_0B_.glif</string>
  <key>u180DF</key>
  <string>u180D_F_.glif</string>
  <key>u187F8</key>
  <string>u187F_8.glif</string>
  <key>u187F9</key>
  <string>u187F_9.glif</string>
  <key>u187FA</key>
  <string>u187F_A_.glif</string>
  <key>u187FB</key>
  <string>u187F_B_.glif</string>
  <key>u187FC</key>
  <string>u187F_C_.glif</string>
  <key>u187FD</key>
  <string>u187F_D_.glif</string>
  <key>u187FE</key>
  <string>u187F_E_.glif</string>
  <key>u187FF</key>
  <string>u187F_F_.glif</string>
  <key>u18D09</key>
  <string>u18D_09.glif</string>
  <key>u18D0A</key>
  <string>u18D_0A_.glif</string>
  <key>u18D0B</key>
  <string>u18D_0B_.glif</string>
  <key>u18D0C</key>
  <string>u18D_0C_.glif</string>
  <key>u18D0D</key>
  <string>u18D_0D_.glif</string>
  <key>u18D0E</key>
  <string>u18D_0E_.glif</string>
  <key>u18D0F</key>
  <string>u18D_0F_.glif</string>
  <key>u18D10</key>
  <string>u18D_10.glif</string>
  <key>u18D11</key>
  <string>u18D_11.glif</string>
  <key>u18D12</key>
  <string>u18D_12.glif</string>
  <key>u18D13</key>
  <string>u18D_13.glif</string>
  <key>u18D14</key>
  <string>u18D_14.glif</string>
  <key>u18D15</key>
  <string>u18D_15.glif</string>
  <key>u18D16</key>
  <string>u18D_16.glif</string>
  <key>u18D17</key>
  <string>u18D_17.glif</string>
  <key>u18D18</key>
  <string>u18D_18.glif</string>
  <key>u18D19</key>
  <string>u18D_19.glif</string>
  <key>u18D1A</key>
  <string>u18D_1A_.glif</string>
  <key>u18D1B</key>
  <string>u18D_1B_.glif</string>
  <key>u18D1C</key>
  <string>u18D_1C_.glif</string>
  <key>u18D1D</key>
  <string>u18D_1D_.glif</string>
  <key>u18D1E</key>
  <string>u18D_1E_.glif</string>
  <key>u18D1F</key>
  <string>u18D_1F_.glif</string>
  <key>u18D20</key>
  <string>u18D_20.glif</string>
  <key>u1D127</key>
  <string>u1D_127.glif</string>
  <key>u1D128</key>
  <string>u1D_128.glif</string>
  <key>u1D1EB</key>
  <string>u1D_1E_B_.glif</string>
  <key>u1D1EC</key>
  <string>u1D_1E_C_.glif</string>
  <key>u1D1ED</key>
  <string>u1D_1E_D_.glif</string>
  <key>u1D1EE</key>
  <string>u1D_1E_E_.glif</string>
  <key>u1D1EF</key>
  <string>u1D_1E_F_.glif</string>
  <key>u1D1F0</key>
  <string>u1D_1F_0.glif</string>
  <key>u1D1F1</key>
  <string>u1D_1F_1.glif</string>
  <key>u1D1F2</key>
  <string>u1D_1F_2.glif</string>
  <key>u1D1F3</key>
  <string>u1D_1F_3.glif</string>
  <key>u1D1F4</key>
  <string>u1D_1F_4.glif</string>
  <key>u1D1F5</key>
  <string>u1D_1F_5.glif</string>
  <key>u1D1F6</key>
  <string>u1D_1F_6.glif</string>
  <key>u1D1F7</key>
  <string>u1D_1F_7.glif</string>
  <key>u1D1F8</key>
  <string>u1D_1F_8.glif</string>
  <key>u1D1F9</key>
  <string>u1D_1F_9.glif</string>
  <key>u1D1FA</key>
  <string>u1D_1F_A_.glif</string>
  <key>u1D1FB</key>
  <string>u1D_1F_B_.glif</string>
  <key>u1D1FC</key>
  <string>u1D_1F_C_.glif</string>
  <key>u1D1FD</key>
  <string>u1D_1F_D_.glif</string>
  <key>u1D1FE</key>
  <string>u1D_1F_E_.glif</string>
  <key>u1D1FF</key>
  <string>u1D_1F_F_.glif</string>
  <key>u1DF1F</key>
  <string>u1D_F_1F_.glif</string>
  <key>u1DF20</key>
  <string>u1D_F_20.glif</string>
  <key>u1DF21</key>
  <string>u1D_F_21.glif</string>
  <key>u1DF22</key>
  <string>u1D_F_22.glif</string>
  <key>u1DF23</key>
  <string>u1D_F_23.glif</string>
  <key>u1DF24</key>
  <string>u1D_F_24.glif</string>
  <key>u1DF2B</key>
  <string>u1D_F_2B_.glif</string>
  <key>u1DF2C</key>
  <string>u1D_F_2C_.glif</string>
  <key>u1DF2D</key>
  <string>u1D_F_2D_.glif</string>
  <key>u1DF2E</key>
  <string>u1D_F_2E_.glif</string>
  <key>u1DF2F</key>
  <string>u1D_F_2F_.glif</string>
  <key>u1DF30</key>
  <string>u1D_F_30.glif</string>
  <key>u1DF31</key>
  <string>u1D_F_31.glif</string>
  <key>u1DF32</key>
  <string>u1D_F_32.glif</string>
  <key>u1DF33</key>
  <string>u1D_F_33.glif</string>
  <key>u1DF34</key>
  <string>u1D_F_34.glif</string>
  <key>u1DF35</key>
  <string>u1D_F_35.glif</string>
  <key>u1DF36</key>
  <string>u1D_F_36.glif</string>
  <key>u1DF37</key>
  <string>u1D_F_37.glif</string>
  <key>u1DF38</key>
  <string>u1D_F_38.glif</string>
  <key>u1DF39</key>
  <string>u1D_F_39.glif</string>
  <key>u1DF3A</key>
  <string>u1D_F_3A_.glif</string>
  <key>u1E6DF</key>
  <string>u1E_6D_F_.glif</string>
  <key>u1E6F6</key>
  <string>u1E_6F_6.glif</string>
  <key>u1E6F7</key>
  <string>u1E_6F_7.glif</string>
  <key>u1E6F8</key>
  <string>u1E_6F_8.glif</string>
  <key>u1E6F9</key>
  <string>u1E_6F_9.glif</string>
  <key>u1E6FA</key>
  <string>u1E_6F_A_.glif</string>
  <key>u1E6FB</key>
  <string>u1E_6F_B_.glif</string>
  <key>u1E6FC</key>
  <string>u1E_6F_C_.glif</string>
  <key>u1E6FD</key>
  <string>u1E_6F_D_.glif</string>
  <key>ua-taiyo</key>
  <string>ua-taiyo.glif</string>
  <key>ue-taiyo</key>
  <string>ue-taiyo.glif</string>
  <key>uea-taiyo</key>
  <string>uea-taiyo.glif</string>
  <key>ui-beriaerfe</key>
  <string>ui-beriaerfe.glif</string>
  <key>vo-taiyo</key>
  <string>vo-taiyo.glif</string>
  <key>wasse-beriaerfe</key>
  <string>wasse-beriaerfe.glif</string>
  <key>xamlaimod-taiyo</key>
  <string>xamlaimod-taiyo.glif</string>
  <key>yehfourdotsbelow-arab</key>
  <string>yehfourdotsbelow-arab.glif</string>
  <key>yo-taiyo</key>
  <string>yo-taiyo.glif</string>
</dict>
</plist>