<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>u12550</string>
    <string>u12551</string>
    <string>u12552</string>
    <string>u12553</string>
    <string>u12554</string>
    <string>u12555</string>
    <string>u12556</string>
    <string>u12557</string>
    <string>u12558</string>
    <string>u12559</string>
    <string>u1255A</string>
    <string>u1255B</string>
    <string>u1255C</string>
    <string>u1255D</string>
    <string>u1255E</string>
    <string>u1255F</string>
    <string>u12560</string>
    <string>u12561</string>
    <string>u12562</string>
    <string>u12563</string>
    <string>u12564</string>
    <string>u12565</string>
    <string>u12566</string>
    <string>u12567</string>
    <string>u12568</string>
    <string>u12569</string>
    <string>u1256A</string>
    <string>u1256B</string>
    <string>u1256C</string>
    <string>u1256D</string>
    <string>u1256E</string>
    <string>u1256F</string>
    <string>u12570</string>
    <string>u12571</string>
    <string>u12572</string>
    <string>u12573</string>
    <string>u12574</string>
    <string>u12575</string>
    <string>u12576</string>
    <string>u12577</string>
    <string>u12578</string>
    <string>u12579</string>
    <string>u1257A</string>
    <string>u1257B</string>
    <string>u1257C</string>
    <string>u1257D</string>
    <string>u1257E</string>
    <string>u1257F</string>
    <string>u12580</string>
    <string>u12581</string>
    <string>u12582</string>
    <string>u12583</string>
    <string>u12584</string>
    <string>u12585</string>
    <string>u12586</string>
    <string>u12587</string>
    <string>u12588</string>
    <string>u12589</string>
    <string>u1258A</string>
    <string>u1258B</string>
    <string>u1258C</string>
    <string>u1258D</string>
    <string>u1258E</string>
    <string>u1258F</string>
    <string>u12590</string>
    <string>u12591</string>
    <string>u12592</string>
    <string>u12593</string>
    <string>u12594</string>
    <string>u12595</string>
    <string>u12596</string>
    <string>u12597</string>
    <string>u12598</string>
    <string>u12599</string>
    <string>u1259A</string>
    <string>u1259B</string>
    <string>u1259C</string>
    <string>u1259D</string>
    <string>u1259E</string>
    <string>u1259F</string>
    <string>u125A0</string>
    <string>u125A1</string>
    <string>u125A2</string>
    <string>u125A3</string>
    <string>u125A4</string>
    <string>u125A5</string>
    <string>u125A6</string>
    <string>u125A7</string>
    <string>u125A8</string>
    <string>u125A9</string>
    <string>u125AA</string>
    <string>u125AB</string>
    <string>u125AC</string>
    <string>u125AD</string>
    <string>u125AE</string>
    <string>u125AF</string>
    <string>u125B0</string>
    <string>u125B1</string>
    <string>u125B2</string>
    <string>u125B3</string>
    <string>u125B4</string>
    <string>u125B5</string>
    <string>u125B6</string>
    <string>u125B7</string>
    <string>u125B8</string>
    <string>u125B9</string>
    <string>u125BA</string>
    <string>u125BB</string>
    <string>u125BC</string>
    <string>u125BD</string>
    <string>u125BE</string>
    <string>u125BF</string>
    <string>u125C0</string>
    <string>u125C1</string>
    <string>u125C2</string>
    <string>u125C3</string>
    <string>u125C4</string>
    <string>u125C5</string>
    <string>u125C6</string>
    <string>u125C7</string>
    <string>u125C8</string>
    <string>u125C9</string>
    <string>u125CA</string>
    <string>u125CB</string>
    <string>u125CC</string>
    <string>u125CD</string>
    <string>u125CE</string>
    <string>u125CF</string>
    <string>u125D0</string>
    <string>u125D1</string>
    <string>u125D2</string>
    <string>u125D3</string>
    <string>u125D4</string>
    <string>u125D5</string>
    <string>u125D6</string>
    <string>u125D7</string>
    <string>u125D8</string>
    <string>u125D9</string>
    <string>u125DA</string>
    <string>u125DB</string>
    <string>u125DC</string>
    <string>u125DD</string>
    <string>u125DE</string>
    <string>u125DF</string>
    <string>u125E0</string>
    <string>u125E1</string>
    <string>u125E2</string>
    <string>u125E3</string>
    <string>u125E4</string>
    <string>u125E5</string>
    <string>u125E6</string>
    <string>u125E7</string>
    <string>u125E8</string>
    <string>u125E9</string>
    <string>u125EA</string>
    <string>u125EB</string>
    <string>u125EC</string>
    <string>u125ED</string>
    <string>u125EE</string>
    <string>u125EF</string>
    <string>u125F0</string>
    <string>u125F1</string>
    <string>u125F2</string>
    <string>u125F3</string>
    <string>u125F4</string>
    <string>u125F5</string>
    <string>u125F6</string>
    <string>u125F7</string>
    <string>u125F8</string>
    <string>u125F9</string>
    <string>u125FA</string>
    <string>u125FB</string>
    <string>u125FC</string>
    <string>u125FD</string>
    <string>u125FE</string>
    <string>u125FF</string>
    <string>u12600</string>
    <string>u12601</string>
    <string>u12602</string>
    <string>u12603</string>
    <string>u12604</string>
    <string>u12605</string>
    <string>u12606</string>
    <string>u12607</string>
    <string>u12608</string>
    <string>u12609</string>
    <string>u1260A</string>
    <string>u1260B</string>
    <string>u1260C</string>
    <string>u1260D</string>
    <string>u1260E</string>
    <string>u1260F</string>
    <string>u12610</string>
    <string>u12611</string>
    <string>u12612</string>
    <string>u12613</string>
    <string>u12614</string>
    <string>u12615</string>
    <string>u12616</string>
    <string>u12617</string>
    <string>u12618</string>
    <string>u12619</string>
    <string>u1261A</string>
    <string>u1261B</string>
    <string>u1261C</string>
    <string>u1261D</string>
    <string>u1261E</string>
    <string>u1261F</string>
    <string>u12620</string>
    <string>u12621</string>
    <string>u12622</string>
    <string>u12623</string>
    <string>u12624</string>
    <string>u12625</string>
    <string>u12626</string>
    <string>u12627</string>
    <string>u12628</string>
    <string>u12629</string>
    <string>u1262A</string>
    <string>u1262B</string>
    <string>u1262C</string>
    <string>u1262D</string>
    <string>u1262E</string>
    <string>u1262F</string>
    <string>u12630</string>
    <string>u12631</string>
    <string>u12632</string>
    <string>u12633</string>
    <string>u12634</string>
    <string>u12635</string>
    <string>u12636</string>
    <string>u12637</string>
    <string>u12638</string>
    <string>u12639</string>
    <string>u1263A</string>
    <string>u1263B</string>
    <string>u1263C</string>
    <string>u1263D</string>
    <string>u1263E</string>
    <string>u1263F</string>
    <string>u12640</string>
    <string>u12641</string>
    <string>u12642</string>
    <string>u12643</string>
    <string>u12644</string>
    <string>u12645</string>
    <string>u12646</string>
    <string>u12647</string>
    <string>u12648</string>
    <string>u12649</string>
    <string>u1264A</string>
    <string>u1264B</string>
    <string>u1264C</string>
    <string>u1264D</string>
    <string>u1264E</string>
    <string>u1264F</string>
    <string>u12650</string>
    <string>u12651</string>
    <string>u12652</string>
    <string>u12653</string>
    <string>u12654</string>
    <string>u12655</string>
    <string>u12656</string>
    <string>u12657</string>
    <string>u12658</string>
    <string>u12659</string>
    <string>u1265A</string>
    <string>u1265B</string>
    <string>u1265C</string>
    <string>u1265D</string>
    <string>u1265E</string>
    <string>u1265F</string>
    <string>u12660</string>
    <string>u12661</string>
    <string>u12662</string>
    <string>u12663</string>
    <string>u12664</string>
    <string>u12665</string>
    <string>u12666</string>
    <string>u12667</string>
    <string>u12668</string>
    <string>u12669</string>
    <string>u1266A</string>
    <string>u1266B</string>
    <string>u1266C</string>
    <string>u1266D</string>
    <string>u1266E</string>
    <string>u1266F</string>
    <string>u12670</string>
    <string>u12671</string>
    <string>u12672</string>
    <string>u12673</string>
    <string>u12674</string>
    <string>u12675</string>
    <string>u12676</string>
    <string>u12677</string>
    <string>u12678</string>
    <string>u12679</string>
    <string>u1267A</string>
    <string>u1267B</string>
    <string>u1267C</string>
    <string>u1267D</string>
    <string>u1267E</string>
    <string>u1267F</string>
    <string>u12680</string>
    <string>u12681</string>
    <string>u12682</string>
    <string>u12683</string>
    <string>u12684</string>
    <string>u12685</string>
    <string>u12686</string>
    <string>cuneiformnumericsignonen01</string>
    <string>cuneiformnumericsignonen02</string>
    <string>cuneiformnumericsignonen03</string>
    <string>cuneiformnumericsignonen04</string>
    <string>cuneiformnumericsignonen05</string>
    <string>cuneiformnumericsignonen06</string>
    <string>cuneiformnumericsignonen34</string>
    <string>cuneiformnumericsignonen35</string>
    <string>cuneiformnumericsignonen36</string>
    <string>cuneiformnumericsignonen37</string>
    <string>cuneiformnumericsignonen48</string>
    <string>cuneiformnumericsignonen49</string>
  </array>
</dict>
</plist>